{:added "1.0", :ns "clojure.core", :name "not-any?", :file "clojure/core.clj", :type :fn, :src "(def\n ^{:tag Boolean\n   :doc \"Returns false if (pred x) is logical true for any x in coll,\n  else true.\"\n   :arglists '([pred coll])\n   :added \"1.0\"}\n not-any? (comp not some))", :column 1, :line 2572, :tag java.lang.Boolean, :arglists ([pred coll]), :doc "Returns false if (pred x) is logical true for any x in coll,\n  else true."}