{:type :fn, :src "(defn ex-data\n  \"Alpha - subject to change.\n   Returns exception data (a map) if ex is an ExceptionInfo.\n   Otherwise returns nil.\"\n  {:added \"1.4\"}\n  [ex]\n  (when (instance? ExceptionInfo ex)\n    (.getData ^ExceptionInfo ex)))", :ns "clojure.core", :name "ex-data", :arglists ([ex]), :added "1.4", :doc "Alpha - subject to change.\n   Returns exception data (a map) if ex is an ExceptionInfo.\n   Otherwise returns nil.", :line 4237, :file "clojure/core.clj"}