{:added "1.1", :ns "clojure.core", :name "future-cancelled?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn future-cancelled?\n  \"Returns true if future f is cancelled\"\n  {:added \"1.1\"\n   :static true}\n  [^java.util.concurrent.Future f] (.isCancelled f))", :column 1, :line 6450, :arglists ([f]), :doc "Returns true if future f is cancelled"}