{:added "1.7", :ns "clojure.core", :name "cat", :file "clojure/core.clj", :type :fn, :src "(defn cat\n  \"A transducer which concatenates the contents of each input, which must be a\n  collection, into the reduction.\"\n  {:added \"1.7\"}\n  [rf]\n  (let [rrf (preserving-reduced rf)]  \n    (fn\n      ([] (rf))\n      ([result] (rf result))\n      ([result input]\n         (reduce rrf result input)))))", :column 1, :line 7296, :arglists ([rf]), :doc "A transducer which concatenates the contents of each input, which must be a\n  collection, into the reduction."}