{:type :fn, :src "(defn emit-element [e]\n  (if (instance? String e)\n    (println e)\n    (do\n      (print (str \"<\" (name (:tag e))))\n      (when (:attrs e)\n\t(doseq [attr (:attrs e)]\n\t  (print (str \" \" (name (key attr)) \"='\" (val attr)\"'\"))))\n      (if (:content e)\n\t(do\n\t  (println \">\")\n\t  (doseq [c (:content e)]\n\t    (emit-element c))\n\t  (println (str \"</\" (name (:tag e)) \">\")))\n\t(println \"/>\")))))", :ns "clojure.xml", :name "emit-element", :arglists ([e]), :column 1, :line 95, :file "clojure/xml.clj"}