{:added "1.0", :ns "clojure.zip", :name "root", :file "clojure/zip.clj", :type :fn, :src "(defn root\n  \"zips all the way up and returns the root node, reflecting any\n changes.\"\n  {:added \"1.0\"}\n  [loc]\n    (if (= :end (loc 1))\n      (node loc)\n      (let [p (up loc)]\n        (if p\n          (recur p)\n          (node loc)))))", :column 1, :line 137, :arglists ([loc]), :doc "zips all the way up and returns the root node, reflecting any\n changes."}