{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "load-string", :file "clojure/core.clj", :static true, :type :fn, :src "(defn load-string\n  \"Sequentially read and evaluate the set of forms contained in the\n  string\"\n  {:added \"1.0\"\n   :static true}\n  [s]\n  (let [rdr (-> (java.io.StringReader. s)\n                (clojure.lang.LineNumberingPushbackReader.))]\n    (load-reader rdr)))", :column 1, :line 4055, :arglists ([s]), :doc "Sequentially read and evaluate the set of forms contained in the\n  string", :namespace "clojure.core"}