{:arglists ([n coll]), :ns "clojure.core", :name "take-nth", :src "(defn take-nth\n  \"Returns a lazy seq of every nth item in coll.\"\n  {:added \"1.0\"\n   :static true}\n  [n coll]\n    (lazy-seq\n     (when-let [s (seq coll)]\n       (cons (first s) (take-nth n (drop n s))))))", :added "1.0", :static true, :type :fn, :doc "Returns a lazy seq of every nth item in coll.", :line 3815, :file "clojure/core.clj"}