{:arglists ([request-prompt request-exit]), :doc "Enhanced :read hook for repl supporting :repl/quit.", :line 166, :column 1, :file "clojure/core/server.clj", :name "repl-read", :ns "clojure.core.server", :src "(defn repl-read\n  \"Enhanced :read hook for repl supporting :repl/quit.\"\n  [request-prompt request-exit]\n  (or ({:line-start request-prompt :stream-end request-exit}\n        (m/skip-whitespace *in*))\n      (let [input (read {:read-cond :allow} *in*)]\n        (m/skip-if-eol *in*)\n        (case input\n          :repl/quit request-exit\n          input))))", :type :fn}