{:added "1.0", :ns "clojure.core", :name "*clojure-version*", :file "clojure/core.clj", :type :var, :src "  (def ^:dynamic *clojure-version*\n    (if (.contains version-string \"SNAPSHOT\")\n      (clojure.lang.RT/assoc clojure-version :interim true)\n      clojure-version))", :column 3, :dynamic true, :line 6646, :doc "The version info for Clojure core, as a map containing :major :minor \n  :incremental and :qualifier keys. Feature releases may increment \n  :minor and/or :major, bugfix releases will increment :incremental. \n  Possible values of :qualifier include \"GA\", \"SNAPSHOT\", \"RC-x\" \"BETA-x\""}