{:arglists ([name & body]), :ns "clojure.test", :name "set-test", :src "(defmacro set-test\n  \"Experimental.\n  Sets :test metadata of the named var to a fn with the given body.\n  The var must already exist.  Does not modify the value of the var.\n\n  When *load-tests* is false, set-test is ignored.\"\n  {:added \"1.1\"}\n  [name & body]\n  (when *load-tests*\n    `(alter-meta! (var ~name) assoc :test (fn [] ~@body))))", :column 1, :added "1.1", :type :macro, :doc "Experimental.\n  Sets :test metadata of the named var to a fn with the given body.\n  The var must already exist.  Does not modify the value of the var.\n\n  When *load-tests* is false, set-test is ignored.", :macro true, :line 632, :file "clojure/test.clj"}