{:arglists ([]), :ns "clojure.test", :name "testing-contexts-str", :src "(defn testing-contexts-str\n  \"Returns a string representation of the current test context. Joins\n  strings in *testing-contexts* with spaces.\"\n  {:added \"1.1\"}\n  []\n  (apply str (interpose \" \" (reverse *testing-contexts*))))", :column 1, :added "1.1", :type :fn, :doc "Returns a string representation of the current test context. Joins\n  strings in *testing-contexts* with spaces.", :line 306, :file "clojure/test.clj"}