{:arglists ([v]), :ns "clojure.test", :name "test-var", :src "(defn test-var\n  \"If v has a function in its :test metadata, calls that function,\n  with *testing-vars* bound to (conj *testing-vars* v).\"\n  {:dynamic true, :added \"1.1\"}\n  [v]\n  (when-let [t (:test (meta v))]\n    (binding [*testing-vars* (conj *testing-vars* v)]\n      (do-report {:type :begin-test-var, :var v})\n      (inc-report-counter :test)\n      (try (t)\n           (catch Throwable e\n             (do-report {:type :error, :message \"Uncaught exception, not in assertion.\"\n                      :expected nil, :actual e})))\n      (do-report {:type :end-test-var, :var v}))))", :dynamic true, :column 1, :added "1.1", :type :var, :doc "If v has a function in its :test metadata, calls that function,\n  with *testing-vars* bound to (conj *testing-vars* v).", :line 692, :file "clojure/test.clj"}