{:type :fn, :src "(defn thread-stopper\n  \"Returns a function that takes one arg and uses that as an exception message\n  to stop the given thread.  Defaults to the current thread\"\n  ([] (thread-stopper (Thread/currentThread)))\n  ([thread] (fn [msg] (.stop thread (Error. msg)))))", :ns "clojure.repl", :name "thread-stopper", :file "clojure/repl.clj", :column 1, :line 255, :arglists ([] [thread]), :doc "Returns a function that takes one arg and uses that as an exception message\n  to stop the given thread.  Defaults to the current thread"}