{:type :fn, :src "(defn error-el\n  [message expected actual]\n  (message-el 'error\n              message\n              (pr-str expected)\n              (if (instance? Throwable actual)\n                (with-out-str (stack/print-cause-trace actual t/*stack-trace-depth*))\n                (prn actual))))", :ns "clojure.test.junit", :name "error-el", :file "clojure/test/junit.clj", :column 1, :line 132, :arglists ([message expected actual])}