{:arglists ([x] [x y] [x y & more]), :ns "clojure.core", :name "/", :src "(defn /\n  \"If no denominators are supplied, returns 1/numerator,\n  else returns numerator divided by all of the denominators.\"\n  {:inline (nary-inline 'divide)\n   :inline-arities >1?\n   :added \"1.0\"}\n  ([x] (/ 1 x))\n  ([x y] (. clojure.lang.Numbers (divide x y)))\n  ([x y & more]\n   (reduce1 / (/ x y) more)))", :column 1, :added "1.0", :type :fn, :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@1bcb79c2>, :doc "If no denominators are supplied, returns 1/numerator,\n  else returns numerator divided by all of the denominators.", :line 972, :file "clojure/core.clj"}