{:line 24, :column 1, :file "clojure/xml.clj", :name "content", :ns #object[clojure.lang.Namespace 0x3468198d "clojure.xml"], :src "(def content (accessor element :content))", :type :var, :namespace "clojure.xml"}