{:arglists ([] [thread]), :doc "Returns a function that takes one arg and uses that as an exception message\n  to stop the given thread.  Defaults to the current thread", :line 257, :column 1, :file "clojure/repl.clj", :name "thread-stopper", :ns "clojure.repl", :src "(defn thread-stopper\n  \"Returns a function that takes one arg and uses that as an exception message\n  to stop the given thread.  Defaults to the current thread\"\n  ([] (thread-stopper (Thread/currentThread)))\n  ([thread] (fn [msg] (.stop thread (Error. msg)))))", :type :fn}