{:arglists ([xrel ks]), :ns "clojure.set", :name "project", :src "(defn project\n  \"Returns a rel of the elements of xrel with only the keys in ks\"\n  {:added \"1.0\"}\n  [xrel ks]\n  (with-meta (set (map #(select-keys % ks) xrel)) (meta xrel)))", :column 1, :added "1.0", :type :fn, :doc "Returns a rel of the elements of xrel with only the keys in ks", :line 71, :file "clojure/set.clj"}