{:line 279, :column 1, :file "clojure/instant.clj", :doc "To read an instant as a java.util.Calendar, bind *data-readers* to a map with\nthis var as the value for the 'inst key.  Calendar preserves the timezone\noffset.", :name "read-instant-calendar", :ns #object[clojure.lang.Namespace 0x761c9f11 "clojure.instant"], :src "(def read-instant-calendar\n  \"To read an instant as a java.util.Calendar, bind *data-readers* to a map with\nthis var as the value for the 'inst key.  Calendar preserves the timezone\noffset.\"\n  (partial parse-timestamp (validated construct-calendar)))", :type :fn, :namespace "clojure.instant"}