{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "aset-short", :file "clojure/core.clj", :type :fn, :src "(def-aset\n  ^{:doc \"Sets the value at the index/indices. Works on arrays of short. Returns val.\"\n    :added \"1.0\"}\n  aset-short setShort short)", :column 1, :line 3937, :arglists ([array idx val] [array idx idx2 & idxv]), :doc "Sets the value at the index/indices. Works on arrays of short. Returns val.", :namespace "clojure.core"}