{:arglists ([loc]), :ns "clojure.zip", :name "children", :src "(defn children\n  \"Returns a seq of the children of node at loc, which must be a branch\"\n  {:added \"1.0\"}\n  [loc]\n    (if (branch? loc)\n      ((:zip/children (meta loc)) (node loc))\n      (throw (Exception. \"called children on a leaf node\"))))", :column 1, :added "1.0", :type :fn, :doc "Returns a seq of the children of node at loc, which must be a branch", :line 75, :file "clojure/zip.clj"}