{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "nil?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn nil?\n  \"Returns true if x is nil, false otherwise.\"\n  {:tag Boolean\n   :added \"1.0\"\n   :static true\n   :inline (fn [x] (list 'clojure.lang.Util/identical x nil))}\n  [x] (clojure.lang.Util/identical x nil))", :column 1, :line 436, :tag java.lang.Boolean, :arglists ([x]), :doc "Returns true if x is nil, false otherwise.", :namespace "clojure.core"}