{:added "1.0", :ns "clojure.core", :name "ffirst", :file "clojure/core.clj", :static true, :type :fn, :src "(def\n ^{:doc \"Same as (first (first x))\"\n   :arglists '([x])\n   :added \"1.0\"\n   :static true}\n ffirst (fn ^:static ffirst [x] (first (first x))))", :column 1, :line 98, :arglists ([x]), :doc "Same as (first (first x))"}