{:added "1.0", :ns "clojure.core", :name "pcalls", :file "clojure/core.clj", :static true, :type :fn, :src "(defn pcalls\n  \"Executes the no-arg fns in parallel, returning a lazy sequence of\n  their values\"\n  {:added \"1.0\"\n   :static true}\n  [& fns] (pmap #(%) fns))", :column 1, :line 6739, :arglists ([& fns]), :doc "Executes the no-arg fns in parallel, returning a lazy sequence of\n  their values"}