{:arglists ([x y]), :ns "clojure.core", :name "unchecked-subtract", :src "(defn unchecked-subtract\n  \"Returns the difference of x and y, both long.\n  Note - uses a primitive operator subject to overflow.\"\n  {:inline (fn [x y] `(. clojure.lang.Numbers (unchecked_minus ~x ~y)))\n   :added \"1.0\"}\n  [x y] (. clojure.lang.Numbers (unchecked_minus x y)))", :added "1.0", :type :fn, :doc "Returns the difference of x and y, both long.\n  Note - uses a primitive operator subject to overflow.", :line 1148, :file "clojure/core.clj"}