{:type :fn, :src "(defn stack-element-str\n  \"Returns a (possibly unmunged) string representation of a StackTraceElement\"\n  {:added \"1.3\"}\n  [^StackTraceElement el]\n  (let [file (.getFileName el)\n        clojure-fn? (and file (or (.endsWith file \".clj\")\n                                  (= file \"NO_SOURCE_FILE\")))]\n    (str (if clojure-fn?\n           (demunge (.getClassName el))\n           (str (.getClassName el) \".\" (.getMethodName el)))\n         \" (\" (.getFileName el) \":\" (.getLineNumber el) \")\")))", :ns "clojure.main", :name "stack-element-str", :arglists ([el]), :added "1.3", :doc "Returns a (possibly unmunged) string representation of a StackTraceElement", :line 71, :file "clojure/main.clj"}