{:added "1.2", :ns #object[clojure.lang.Namespace 0x6edfb42d "clojure.java.io"], :name "make-parents", :file "clojure/java/io.clj", :type :fn, :src "(defn make-parents\n  \"Given the same arg(s) as for file, creates all parent directories of\n   the file they represent.\"\n  {:added \"1.2\"}\n  [f & more]\n  (when-let [parent (.getParentFile ^File (apply file f more))]\n    (.mkdirs parent)))", :column 1, :line 438, :arglists ([f & more]), :doc "Given the same arg(s) as for file, creates all parent directories of\n   the file they represent.", :namespace "clojure.java.io"}