{:arglists ([& keyvals]), :ns "clojure.core", :name "sorted-map", :src "(defn sorted-map\n  \"keyval => key val\n  Returns a new sorted map with supplied mappings.  If any keys are\n  equal, they are handled as if by repeated uses of assoc.\"\n  {:added \"1.0\"\n   :static true}\n  ([& keyvals]\n   (clojure.lang.PersistentTreeMap/create keyvals)))", :column 1, :added "1.0", :static true, :type :fn, :doc "keyval => key val\n  Returns a new sorted map with supplied mappings.  If any keys are\n  equal, they are handled as if by repeated uses of assoc.", :line 376, :file "clojure/core.clj"}