{:added "1.1", :ns "clojure.stacktrace", :name "print-cause-trace", :file "clojure/stacktrace.clj", :type :fn, :src "(defn print-cause-trace\n  \"Like print-stack-trace but prints chained exceptions (causes).\"\n  {:added \"1.1\"}\n  ([tr] (print-cause-trace tr nil))\n  ([tr n]\n     (print-stack-trace tr n)\n     (when-let [cause (.getCause tr)]\n       (print \"Caused by: \" )\n       (recur cause n))))", :column 1, :line 66, :arglists ([tr] [tr n]), :doc "Like print-stack-trace but prints chained exceptions (causes)."}