{:added "1.0", :ns #object[clojure.lang.Namespace 0x41758fc9 "clojure.set"], :name "rename", :file "clojure/set.clj", :type :fn, :src "(defn rename\n  \"Returns a rel of the maps in xrel with the keys in kmap renamed to the vals in kmap\"\n  {:added \"1.0\"}\n  [xrel kmap]\n  (with-meta (set (map #(rename-keys % kmap) xrel)) (meta xrel)))", :column 1, :line 89, :arglists ([xrel kmap]), :doc "Returns a rel of the maps in xrel with the keys in kmap renamed to the vals in kmap", :namespace "clojure.set"}