{:arglists ([x]), :ns "clojure.core", :name "nnext", :src "(def\n ^{:doc \"Same as (next (next x))\"\n   :arglists '([x])\n   :added \"1.0\"\n   :static true}\n nnext (fn ^:static nnext [x] (next (next x))))", :added "1.0", :static true, :type :fn, :doc "Same as (next (next x))", :line 117, :file "clojure/core.clj"}