{:added "1.2", :ns "clojure.core", :name "error-mode", :file "clojure/core.clj", :static true, :type :fn, :src "(defn error-mode\n  \"Returns the error-mode of agent a.  See set-error-mode!\"\n  {:added \"1.2\"\n   :static true}\n  [^clojure.lang.Agent a]\n  (.getErrorMode a))", :column 1, :line 2115, :arglists ([a]), :doc "Returns the error-mode of agent a.  See set-error-mode!"}