{:arglists ([coll]), :ns "clojure.core", :name "empty", :src "(defn empty\n  \"Returns an empty collection of the same category as coll, or nil\"\n  {:added \"1.0\"\n   :static true}\n  [coll]\n  (when (instance? clojure.lang.IPersistentCollection coll)\n    (.empty ^clojure.lang.IPersistentCollection coll)))", :added "1.0", :static true, :type :fn, :doc "Returns an empty collection of the same category as coll, or nil", :line 4585, :file "clojure/core.clj"}