{:added "1.1", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "shorts", :file "clojure/core.clj", :type :fn, :src "(definline shorts\n  \"Casts to shorts[]\"\n  {:added \"1.1\"}\n  [xs] `(. clojure.lang.Numbers shorts ~xs))", :column 1, :line 5303, :arglists ([xs]), :doc "Casts to shorts[]", :namespace "clojure.core"}