{:type :fn, :src "(defn rename-keys\n  \"Returns the map with the keys in kmap renamed to the vals in kmap\"\n  {:added \"1.0\"}\n  [map kmap]\n    (reduce \n     (fn [m [old new]]\n       (if (and (not= old new)\n                (contains? m old))\n         (-> m (assoc new (get m old)) (dissoc old))\n         m)) \n     map kmap))", :ns "clojure.set", :name "rename-keys", :arglists ([map kmap]), :added "1.0", :doc "Returns the map with the keys in kmap renamed to the vals in kmap", :line 77, :file "clojure/set.clj"}