{:added "1.0", :ns "clojure.core", :name "<=", :file "clojure/core.clj", :type :fn, :src "(defn <=\n  \"Returns non-nil if nums are in monotonically non-decreasing order,\n  otherwise false.\"\n  {:inline (fn [x y] `(. clojure.lang.Numbers (lte ~x ~y)))\n   :inline-arities #{2}\n   :added \"1.0\"}\n  ([x] true)\n  ([x y] (. clojure.lang.Numbers (lte x y)))\n  ([x y & more]\n   (if (<= x y)\n     (if (next more)\n       (recur y (first more) (next more))\n       (<= y (first more)))\n     false)))", :column 1, :line 1018, :arglists ([x] [x y] [x y & more]), :doc "Returns non-nil if nums are in monotonically non-decreasing order,\n  otherwise false."}