{:arglists ([coll]), :ns "clojure.core", :name "next", :src "(def\n ^{:arglists '([coll])\n   :tag clojure.lang.ISeq\n   :doc \"Returns a seq of the items after the first. Calls seq on its\n  argument.  If there are no more items, returns nil.\"\n   :added \"1.0\"\n   :static true}  \n next (fn ^:static next [x] (. clojure.lang.RT (next x))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns a seq of the items after the first. Calls seq on its\n  argument.  If there are no more items, returns nil.", :line 57, :file "clojure/core.clj", :tag clojure.lang.ISeq}