{:added "1.9", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "StackTraceElement->vec", :file "clojure/core_print.clj", :type :fn, :src "(defn StackTraceElement->vec\n  \"Constructs a data representation for a StackTraceElement\"\n  {:added \"1.9\"}\n  [^StackTraceElement o]\n  [(symbol (.getClassName o)) (symbol (.getMethodName o)) (.getFileName o) (.getLineNumber o)])", :column 1, :line 465, :arglists ([o]), :doc "Constructs a data representation for a StackTraceElement", :namespace "clojure.core"}