{:added "1.1", :ns "clojure.test", :name "assert-any", :file "clojure/test.clj", :type :fn, :src "(defn assert-any\n  \"Returns generic assertion code for any test, including macros, Java\n  method calls, or isolated symbols.\"\n  {:added \"1.1\"}\n  [msg form]\n  `(let [value# ~form]\n     (if value#\n       (do-report {:type :pass, :message ~msg,\n                :expected '~form, :actual value#})\n       (do-report {:type :fail, :message ~msg,\n                :expected '~form, :actual value#}))\n     value#))", :column 1, :line 442, :arglists ([msg form]), :doc "Returns generic assertion code for any test, including macros, Java\n  method calls, or isolated symbols."}