{:arglists ([data]), :ns "clojure.test.tap", :name "print-tap-diagnostic", :src "(defn print-tap-diagnostic\n  \"Prints a TAP diagnostic line.  data is a (possibly multi-line)\n  string.\"\n  {:added \"1.1\"}\n  [data]\n  (doseq [line (.split ^String data \"\\n\")]\n    (println \"#\" line)))", :column 1, :added "1.1", :type :fn, :doc "Prints a TAP diagnostic line.  data is a (possibly multi-line)\n  string.", :line 51, :file "clojure/test/tap.clj"}