{:added "1.1", :ns "clojure.core", :name "pop-thread-bindings", :file "clojure/core.clj", :static true, :type :fn, :src "(defn pop-thread-bindings\n  \"Pop one set of bindings pushed with push-binding before. It is an error to\n  pop bindings without pushing before.\"\n  {:added \"1.1\"\n   :static true}\n  []\n  (clojure.lang.Var/popThreadBindings))", :column 1, :line 1815, :arglists ([]), :doc "Pop one set of bindings pushed with push-binding before. It is an error to\n  pop bindings without pushing before."}