{:arglists ([x]), :ns "clojure.core", :name "namespace", :src "(defn namespace\n  \"Returns the namespace String of a symbol or keyword, or nil if not present.\"\n  {:tag String\n   :added \"1.0\"\n   :static true}\n  [^clojure.lang.Named x]\n    (. x (getNamespace)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns the namespace String of a symbol or keyword, or nil if not present.", :line 1507, :file "clojure/core.clj", :tag java.lang.String}