{:arglists ([] [& keys]), :ns "clojure.core", :name "hash-set", :src "(defn hash-set\n  \"Returns a new hash set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj.\"\n  {:added \"1.0\"\n   :static true}\n  ([] #{})\n  ([& keys]\n   (clojure.lang.PersistentHashSet/create keys)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns a new hash set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj.", :line 367, :file "clojure/core.clj"}