{:added "1.0", :ns "clojure.core", :name "if-not", :file "clojure/core.clj", :type :macro, :src "(defmacro if-not\n  \"Evaluates test. If logical false, evaluates and returns then expr, \n  otherwise else expr, if supplied, else nil.\"\n  {:added \"1.0\"}\n  ([test then] `(if-not ~test ~then nil))\n  ([test then else]\n   `(if (not ~test) ~then ~else)))", :column 1, :line 728, :macro true, :arglists ([test then] [test then else]), :doc "Evaluates test. If logical false, evaluates and returns then expr, \n  otherwise else expr, if supplied, else nil."}