{:ns "clojure.main", :name "with-read-known", :file "clojure/main.clj", :type :macro, :src "(defmacro with-read-known\n  \"Evaluates body with *read-eval* set to a \\\"known\\\" value,\n   i.e. substituting true for :unknown if necessary.\"\n  [& body]\n  `(binding [*read-eval* (if (= :unknown *read-eval*) true *read-eval*)]\n     ~@body))", :column 1, :line 167, :macro true, :arglists ([& body]), :doc "Evaluates body with *read-eval* set to a \"known\" value,\n   i.e. substituting true for :unknown if necessary."}