{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "bit-not", :file "clojure/core.clj", :type :fn, :src "(defn bit-not\n  \"Bitwise complement\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (not ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers not x))", :column 1, :line 1278, :arglists ([x]), :doc "Bitwise complement", :namespace "clojure.core"}