{:arglists ([x]), :ns "clojure.core", :name "number?", :src "(defn number?\n  \"Returns true if x is a Number\"\n  {:added \"1.0\"\n   :static true}\n  [x]\n  (instance? Number x))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns true if x is a Number", :line 3209, :file "clojure/core.clj"}