{:type :fn, :src "(defn run-tests\n  \"Runs all tests in the given namespaces; prints results.\n  Defaults to current namespace if none given.  Returns a map\n  summarizing test results.\"\n  {:added \"1.1\"}\n  ([] (run-tests *ns*))\n  ([& namespaces]\n     (let [summary (assoc (apply merge-with + (map test-ns namespaces))\n                     :type :summary)]\n       (do-report summary)\n       summary)))", :ns "clojure.test", :name "run-tests", :arglists ([] [& namespaces]), :added "1.1", :doc "Runs all tests in the given namespaces; prints results.\n  Defaults to current namespace if none given.  Returns a map\n  summarizing test results.", :line 744, :file "clojure/test.clj"}