{:type :fn, :src "(defn start-suite\n  [name]\n  (let [[package classname] (package-class name)]\n    (start-element 'testsuite true (suite-attrs package classname))))", :ns "clojure.test.junit", :name "start-suite", :arglists ([name]), :line 104, :file "clojure/test/junit.clj"}