{:added "1.0", :ns "clojure.core", :name "next", :file "clojure/core.clj", :static true, :type :fn, :src "(def\n ^{:arglists '([coll])\n   :tag clojure.lang.ISeq\n   :doc \"Returns a seq of the items after the first. Calls seq on its\n  argument.  If there are no more items, returns nil.\"\n   :added \"1.0\"\n   :static true}  \n next (fn ^:static next [x] (. clojure.lang.RT (next x))))", :column 1, :line 57, :tag clojure.lang.ISeq, :arglists ([coll]), :doc "Returns a seq of the items after the first. Calls seq on its\n  argument.  If there are no more items, returns nil."}