{:arglists ([& items]), :ns "clojure.core", :name "list", :src "(def\n ^{:arglists '([& items])\n   :doc \"Creates a new list containing the items.\"\n   :added \"1.0\"}\n  list (. clojure.lang.PersistentList creator))", :column 1, :added "1.0", :type :fn, :doc "Creates a new list containing the items.", :line 16, :file "clojure/core.clj"}