{:added "1.0", :ns "clojure.core", :name "select-keys", :file "clojure/core.clj", :static true, :type :fn, :src "(defn select-keys\n  \"Returns a map containing only those entries in map whose key is in keys\"\n  {:added \"1.0\"\n   :static true}\n  [map keyseq]\n    (loop [ret {} keys (seq keyseq)]\n      (if keys\n        (let [entry (. clojure.lang.RT (find map (first keys)))]\n          (recur\n           (if entry\n             (conj ret entry)\n             ret)\n           (next keys)))\n        (with-meta ret (meta map)))))", :column 1, :line 1491, :arglists ([map keyseq]), :doc "Returns a map containing only those entries in map whose key is in keys"}