{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "ns-name", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ns-name\n  \"Returns the name of the namespace, a symbol.\"\n  {:added \"1.0\"\n   :static true}\n  [ns]\n  (.getName (the-ns ns)))", :column 1, :line 4130, :arglists ([ns]), :doc "Returns the name of the namespace, a symbol.", :namespace "clojure.core"}