{:added "1.0", :ns "clojure.core", :name "drop-last", :file "clojure/core.clj", :static true, :type :fn, :src "(defn drop-last\n  \"Return a lazy sequence of all but the last n (default 1) items in coll\"\n  {:added \"1.0\"\n   :static true}\n  ([s] (drop-last 1 s))\n  ([n s] (map (fn [x _] x) s (drop n s))))", :column 1, :line 2803, :arglists ([s] [n s]), :doc "Return a lazy sequence of all but the last n (default 1) items in coll"}