{:arglists ([] [x] [x y] [x y & more]), :ns "clojure.core", :name "*'", :src "(defn *'\n  \"Returns the product of nums. (*) returns 1. Supports arbitrary precision.\n  See also: *\"\n  {:inline (nary-inline 'multiplyP)\n   :inline-arities >1?\n   :added \"1.0\"}\n  ([] 1)\n  ([x] (cast Number x))\n  ([x y] (. clojure.lang.Numbers (multiplyP x y)))\n  ([x y & more]\n   (reduce1 *' (*' x y) more)))", :column 1, :added "1.0", :type :fn, :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@1bcb79c2>, :doc "Returns the product of nums. (*) returns 1. Supports arbitrary precision.\n  See also: *", :line 948, :file "clojure/core.clj"}