{:added "1.0", :ns "clojure.core", :name "slurp", :file "clojure/core.clj", :type :fn, :src "(defn slurp\n  \"Opens a reader on f and reads all its contents, returning a string.\n  See clojure.java.io/reader for a complete list of supported arguments.\"\n  {:added \"1.0\"}\n  ([f & opts]\n     (let [opts (normalize-slurp-opts opts)\n           sb (StringBuilder.)]\n       (with-open [^java.io.Reader r (apply jio/reader f opts)]\n         (loop [c (.read r)]\n           (if (neg? c)\n             (str sb)\n             (do\n               (.append sb (char c))\n               (recur (.read r)))))))))", :column 1, :line 6588, :arglists ([f & opts]), :doc "Opens a reader on f and reads all its contents, returning a string.\n  See clojure.java.io/reader for a complete list of supported arguments."}