{:added "1.1", :ns "clojure.test", :name "join-fixtures", :file "clojure/test.clj", :type :fn, :src "(defn join-fixtures\n  \"Composes a collection of fixtures, in order.  Always returns a valid\n  fixture function, even if the collection is empty.\"\n  {:added \"1.1\"}\n  [fixtures]\n  (reduce compose-fixtures default-fixture fixtures))", :column 1, :line 695, :arglists ([fixtures]), :doc "Composes a collection of fixtures, in order.  Always returns a valid\n  fixture function, even if the collection is empty."}