{:ns "clojure.core", :name "*2", :src "(def ^:dynamic\n ^{:doc \"bound in a repl thread to the second most recent value printed\"\n   :added \"1.0\"}\n *2)", :dynamic true, :column 1, :added "1.0", :type :var, :doc "bound in a repl thread to the second most recent value printed", :line 5664, :file "clojure/core.clj"}