{:ns "clojure.core", :name "*e", :src "(def ^:dynamic\n ^{:doc \"bound in a repl thread to the most recent exception caught by the repl\"\n   :added \"1.0\"}\n *e)", :dynamic true, :column 1, :added "1.0", :type :var, :doc "bound in a repl thread to the most recent exception caught by the repl", :line 5674, :file "clojure/core.clj"}