{:arglists ([a]), :ns "clojure.core", :name "agent-errors", :deprecated "1.2", :src "(defn agent-errors\n  \"DEPRECATED: Use 'agent-error' instead.\n  Returns a sequence of the exceptions thrown during asynchronous\n  actions of the agent.\"\n  {:added \"1.0\"\n   :deprecated \"1.2\"}\n  [a]\n  (when-let [e (agent-error a)]\n    (list e)))", :column 1, :added "1.0", :type :fn, :doc "DEPRECATED: Use 'agent-error' instead.\n  Returns a sequence of the exceptions thrown during asynchronous\n  actions of the agent.", :line 2044, :file "clojure/core.clj"}