{:arglists ([v f & args]), :ns "clojure.core", :name "alter-var-root", :src "(defn alter-var-root\n  \"Atomically alters the root binding of var v by applying f to its\n  current value plus any args\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.Var v f & args] (.alterRoot v f args))", :column 1, :added "1.0", :static true, :type :fn, :doc "Atomically alters the root binding of var v by applying f to its\n  current value plus any args", :line 4941, :file "clojure/core.clj"}