{:arglists ([array idx val] [array idx idx2 & idxv]), :ns "clojure.core", :name "aset-char", :src "(def-aset\n  ^{:doc \"Sets the value at the index/indices. Works on arrays of char. Returns val.\"\n    :added \"1.0\"}\n  aset-char setChar char)", :column 1, :added "1.0", :type :fn, :doc "Sets the value at the index/indices. Works on arrays of char. Returns val.", :line 3590, :file "clojure/core.clj"}