{:arglists ([x y] [x y & more]), :ns "clojure.core", :name "bit-and", :src "(defn bit-and\n  \"Bitwise and\"\n   {:inline (nary-inline 'and)\n    :inline-arities >1?\n    :added \"1.0\"}\n   ([x y] (. clojure.lang.Numbers and x y))\n   ([x y & more]\n      (reduce1 bit-and (bit-and x y) more)))", :column 1, :added "1.0", :type :fn, :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@5eeb48d>, :doc "Bitwise and", :line 1245, :file "clojure/core.clj", :inline #<core$nary_inline$fn__3969 clojure.core$nary_inline$fn__3969@651f41fd>}