{:arglists ([coll]), :ns "clojure.core", :name "butlast", :src "(def \n ^{:arglists '([coll])\n   :doc \"Return a seq of all but the last item in coll, in linear time\"\n   :added \"1.0\"\n   :static true}\n butlast (fn ^:static butlast [s]\n           (loop [ret [] s s]\n             (if (next s)\n               (recur (conj ret (first s)) (next s))\n               (seq ret)))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Return a seq of all but the last item in coll, in linear time", :line 255, :file "clojure/core.clj"}