{:arglists ([size-or-seq] [size init-val-or-seq]), :ns "clojure.core", :name "byte-array", :src "(defn byte-array\n  \"Creates an array of bytes\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers byte_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.1\"}\n  ([size-or-seq] (. clojure.lang.Numbers byte_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers byte_array size init-val-or-seq)))", :column 1, :added "1.1", :type :fn, :inline-arities #{1 2}, :doc "Creates an array of bytes", :line 4737, :file "clojure/core.clj", :inline #<core$byte_array__inliner clojure.core$byte_array__inliner@61a35201>}