{:arglists ([n]), :ns "clojure.core", :name "decimal?", :src "(defn decimal?\n  \"Returns true if n is a BigDecimal\"\n  {:added \"1.0\"\n   :static true}\n  [n] (instance? BigDecimal n))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns true if n is a BigDecimal", :line 3248, :file "clojure/core.clj"}