{:arglists ([& names]), :ns "clojure.core", :name "declare", :src "(defmacro declare\n  \"defs the supplied var names with no bindings, useful for making forward declarations.\"\n  {:added \"1.0\"}\n  [& names] `(do ~@(map #(list 'def (vary-meta % assoc :declared true)) names)))", :column 1, :added "1.0", :type :macro, :doc "defs the supplied var names with no bindings, useful for making forward declarations.", :macro true, :line 2720, :file "clojure/core.clj"}