{:arglists ([size-or-seq] [size init-val-or-seq]), :ns "clojure.core", :name "float-array", :src "(defn float-array\n  \"Creates an array of floats\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers float_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.0\"}\n  ([size-or-seq] (. clojure.lang.Numbers float_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers float_array size init-val-or-seq)))", :column 1, :added "1.0", :type :fn, :inline-arities #{1 2}, :doc "Creates an array of floats", :line 4721, :file "clojure/core.clj", :inline #<core$float_array__inliner clojure.core$float_array__inliner@afa8089>}