{:arglists ([c x]), :ns "clojure.core", :name "instance?", :src "(def\n ^{:arglists '([^Class c x])\n   :doc \"Evaluates x and tests if it is an instance of the class\n    c. Returns true or false\"\n   :added \"1.0\"}\n instance? (fn instance? [^Class c x] (. c (isInstance x))))", :column 1, :added "1.0", :type :fn, :doc "Evaluates x and tests if it is an instance of the class\n    c. Returns true or false", :line 135, :file "clojure/core.clj"}