{:arglists ([rdr]), :ns "clojure.core", :name "load-reader", :src "(defn load-reader\n  \"Sequentially read and evaluate the set of forms contained in the\n  stream/file\"\n  {:added \"1.0\"\n   :static true}\n  [rdr] (. clojure.lang.Compiler (load rdr)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Sequentially read and evaluate the set of forms contained in the\n  stream/file", :line 3691, :file "clojure/core.clj"}