{:arglists ([multifn]), :ns "clojure.core", :name "methods", :src "(defn methods\n  \"Given a multimethod, returns a map of dispatch values -> dispatch fns\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.MultiFn multifn] (.getMethodTable multifn))", :column 1, :added "1.0", :static true, :type :fn, :doc "Given a multimethod, returns a map of dispatch values -> dispatch fns", :line 1654, :file "clojure/core.clj"}