{:arglists ([multifn dispatch-val-x dispatch-val-y]), :ns "clojure.core", :name "prefer-method", :src "(defn prefer-method\n  \"Causes the multimethod to prefer matches of dispatch-val-x over dispatch-val-y \n   when there is a conflict\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.MultiFn multifn dispatch-val-x dispatch-val-y]\n  (. multifn preferMethod dispatch-val-x dispatch-val-y))", :column 1, :added "1.0", :static true, :type :fn, :doc "Causes the multimethod to prefer matches of dispatch-val-x over dispatch-val-y \n   when there is a conflict", :line 1646, :file "clojure/core.clj"}