{:arglists ([re s]), :ns "clojure.core", :name "re-matches", :src "(defn re-matches\n  \"Returns the match, if any, of string to pattern, using\n  java.util.regex.Matcher.matches().  Uses re-groups to return the\n  groups.\"\n  {:added \"1.0\"\n   :static true}\n  [^java.util.regex.Pattern re s]\n    (let [m (re-matcher re s)]\n      (when (. m (matches))\n        (re-groups m))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns the match, if any, of string to pattern, using\n  java.util.regex.Matcher.matches().  Uses re-groups to return the\n  groups.", :line 4416, :file "clojure/core.clj"}