{:arglists ([x]), :ns "clojure.core", :name "reduced", :src "(defn reduced\n  \"Wraps x in a way such that a reduce will terminate with the value x\"\n  {:added \"1.5\"}\n  [x]\n  (clojure.lang.Reduced. x))", :column 1, :added "1.5", :type :fn, :doc "Wraps x in a way such that a reduce will terminate with the value x", :line 6139, :file "clojure/core.clj"}