{:arglists ([coll]), :ns "clojure.core", :name "reversible?", :src "(defn reversible?\n \"Returns true if coll implements Reversible\"\n {:added \"1.0\"\n   :static true}\n  [coll] (instance? clojure.lang.Reversible coll))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns true if coll implements Reversible", :line 5653, :file "clojure/core.clj"}