{:arglists ([]), :ns "clojure.core", :name "shutdown-agents", :src "(defn shutdown-agents\n  \"Initiates a shutdown of the thread pools that back the agent\n  system. Running actions will complete, but no new actions will be\n  accepted\"\n  {:added \"1.0\"\n   :static true}\n  [] (. clojure.lang.Agent shutdown))", :column 1, :added "1.0", :static true, :type :fn, :doc "Initiates a shutdown of the thread pools that back the agent\n  system. Running actions will complete, but no new actions will be\n  accepted", :line 2062, :file "clojure/core.clj"}