{:arglists ([comparator & keys]), :ns "clojure.core", :name "sorted-set-by", :src "(defn sorted-set-by\n  \"Returns a new sorted set with supplied keys, using the supplied\n  comparator.  Any equal keys are handled as if by repeated uses of\n  conj.\"\n  {:added \"1.1\"\n   :static true} \n  ([comparator & keys]\n   (clojure.lang.PersistentTreeSet/create comparator keys)))", :column 1, :added "1.1", :static true, :type :fn, :doc "Returns a new sorted set with supplied keys, using the supplied\n  comparator.  Any equal keys are handled as if by repeated uses of\n  conj.", :line 403, :file "clojure/core.clj"}