{:arglists ([atom f] [atom f x] [atom f x y] [atom f x y & args]), :ns "clojure.core", :name "swap!", :src "(defn swap!\n  \"Atomically swaps the value of atom to be:\n  (apply f current-value-of-atom args). Note that f may be called\n  multiple times, and thus should be free of side effects.  Returns\n  the value that was swapped in.\"\n  {:added \"1.0\"\n   :static true}\n  ([^clojure.lang.Atom atom f] (.swap atom f))\n  ([^clojure.lang.Atom atom f x] (.swap atom f x))\n  ([^clojure.lang.Atom atom f x y] (.swap atom f x y))\n  ([^clojure.lang.Atom atom f x y & args] (.swap atom f x y args)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Atomically swaps the value of atom to be:\n  (apply f current-value-of-atom args). Note that f may be called\n  multiple times, and thus should be free of side effects.  Returns\n  the value that was swapped in.", :line 2153, :file "clojure/core.clj"}