{:arglists ([x]), :ns "clojure.core", :name "unchecked-double", :src "(defn unchecked-double\n  \"Coerce to double. Subject to rounding.\"\n  {:inline (fn  [x] `(. clojure.lang.RT (uncheckedDoubleCast ~x)))\n   :added \"1.3\"}\n  [^Number x] (clojure.lang.RT/uncheckedDoubleCast x))", :column 1, :added "1.3", :type :fn, :doc "Coerce to double. Subject to rounding.", :line 3202, :file "clojure/core.clj", :inline #<core$unchecked_double__inliner clojure.core$unchecked_double__inliner@2b090350>}