{:arglists ([x]), :ns "clojure.core", :name "unchecked-byte", :src "(defn unchecked-byte\n  \"Coerce to byte. Subject to rounding or truncation.\"\n  {:inline (fn  [x] `(. clojure.lang.RT (uncheckedByteCast ~x)))\n   :added \"1.3\"}\n  [^Number x] (clojure.lang.RT/uncheckedByteCast x))", :column 1, :added "1.3", :type :fn, :doc "Coerce to byte. Subject to rounding or truncation.", :line 3166, :file "clojure/core.clj", :inline #<core$unchecked_byte__inliner clojure.core$unchecked_byte__inliner@48a3068b>}