{:arglists ([x y] [x y & more]), :ns "clojure.core", :name "bit-or", :src "(defn bit-or\n  \"Bitwise or\"\n  {:inline (nary-inline 'or)\n   :inline-arities >1?\n   :added \"1.0\"}\n  ([x y] (. clojure.lang.Numbers or x y))\n  ([x y & more]\n    (reduce1 bit-or (bit-or x y) more)))", :added "1.0", :type :fn, :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@39ab59f8>, :doc "Bitwise or", :line 1238, :file "clojure/core.clj"}