{:added "1.0", :ns "clojure.core", :name "parents", :file "clojure/core.clj", :type :fn, :src "(defn parents\n  \"Returns the immediate parents of tag, either via a Java type\n  inheritance relationship or a relationship established via derive. h\n  must be a hierarchy obtained from make-hierarchy, if not supplied\n  defaults to the global hierarchy\"\n  {:added \"1.0\"}\n  ([tag] (parents global-hierarchy tag))\n  ([h tag] (not-empty\n            (let [tp (get (:parents h) tag)]\n              (if (class? tag)\n                (into1 (set (bases tag)) tp)\n                tp)))))", :column 1, :line 5282, :arglists ([tag] [h tag]), :doc "Returns the immediate parents of tag, either via a Java type\n  inheritance relationship or a relationship established via derive. h\n  must be a hierarchy obtained from make-hierarchy, if not supplied\n  defaults to the global hierarchy"}