{:added "1.2", :ns "clojure.java.io", :name "resource", :file "clojure/java/io.clj", :type :fn, :src "(defn ^URL resource\n  \"Returns the URL for a named resource. Use the context class loader\n   if no loader is specified.\"\n  {:added \"1.2\"}\n  ([n] (resource n (.getContextClassLoader (Thread/currentThread))))\n  ([n ^ClassLoader loader] (.getResource loader n)))", :column 1, :line 446, :tag java.net.URL, :arglists ([n] [n loader]), :doc "Returns the URL for a named resource. Use the context class loader\n   if no loader is specified."}