{:added "1.0", :ns "clojure.core", :name "let", :special-form true, :file "clojure/core.clj", :type :macro, :src "(defmacro let\n  \"binding => binding-form init-expr\n\n  Evaluates the exprs in a lexical context in which the symbols in\n  the binding-forms are bound to their respective init-exprs or parts\n  therein.\"\n  {:added \"1.0\", :special-form true, :forms '[(let [bindings*] exprs*)]}\n  [bindings & body]\n  (assert-args\n     (vector? bindings) \"a vector for its binding\"\n     (even? (count bindings)) \"an even number of forms in binding vector\")\n  `(let* ~(destructure bindings) ~@body))", :column 1, :line 4262, :macro true, :arglists ([bindings & body]), :doc "binding => binding-form init-expr\n\n  Evaluates the exprs in a lexical context in which the symbols in\n  the binding-forms are bound to their respective init-exprs or parts\n  therein.", :forms [(let [bindings*] exprs*)]}