{:added "1.3", :name "equality-partition", :arglists ([x]), :doc "Implementation detail. Subject to change.", :ns #object[clojure.lang.Namespace 0x3d9349a0 "clojure.data"], :src nil, :type :fn, :namespace "clojure.data"}