{:added "1.0", :ns "clojure.core", :name "test", :file "clojure/core.clj", :type :fn, :src "(defn test\n  \"test [v] finds fn at key :test in var metadata and calls it,\n  presuming failure will throw exception\"\n  {:added \"1.0\"}\n  [v]\n    (let [f (:test (meta v))]\n      (if f\n        (do (f) :ok)\n        :no-test)))", :column 1, :line 4548, :arglists ([v]), :doc "test [v] finds fn at key :test in var metadata and calls it,\n  presuming failure will throw exception"}