{:added "1.2", :ns #object[clojure.lang.Namespace 0x60648aad "clojure.java.javadoc"], :name "add-local-javadoc", :file "clojure/java/javadoc.clj", :type :fn, :src "(defn add-local-javadoc\n  \"Adds to the list of local Javadoc paths.\"\n  {:added \"1.2\"}\n  [path]\n  (dosync (commute *local-javadocs* conj path)))", :column 1, :line 42, :arglists ([path]), :doc "Adds to the list of local Javadoc paths.", :namespace "clojure.java.javadoc"}