{:arglists ([x y]), :ns "clojure.core", :name "identical?", :src "(defn identical?\n  \"Tests if 2 arguments are the same object\"\n  {:inline (fn [x y] `(. clojure.lang.Util identical ~x ~y))\n   :inline-arities #{2}\n   :added \"1.0\"}\n  ([x y] (clojure.lang.Util/identical x y)))", :column 1, :added "1.0", :type :fn, :inline-arities #{2}, :doc "Tests if 2 arguments are the same object", :line 727, :file "clojure/core.clj", :inline #<core$identical_QMARK___inliner clojure.core$identical_QMARK___inliner@a842f23>}