{:added "1.0", :ns "clojure.core", :name "find-var", :file "clojure/core.clj", :static true, :type :fn, :src "(defn find-var\n  \"Returns the global var named by the namespace-qualified symbol, or\n  nil if no var with that name.\"\n  {:added \"1.0\"\n   :static true}\n  [sym] (. clojure.lang.Var (find sym)))", :column 1, :line 1901, :arglists ([sym]), :doc "Returns the global var named by the namespace-qualified symbol, or\n  nil if no var with that name."}