{:type :fn, :src "(defn list-model [provider]\n  (let [{:keys [nrows get-value get-label]} provider]\n    (proxy [AbstractTableModel] []\n      (getColumnCount [] 2)\n      (getRowCount [] nrows)\n      (getValueAt [rowIndex columnIndex]\n        (cond \n         (= 0 columnIndex) (get-label rowIndex)\n         (= 1 columnIndex) (print-str (get-value rowIndex)))))))", :ns "clojure.inspector", :name "list-model", :file "clojure/inspector.clj", :column 1, :line 129, :arglists ([provider])}