{:added "1.0", :ns #object[clojure.lang.Namespace 0x4ac51b14 "clojure.zip"], :name "xml-zip", :file "clojure/zip.clj", :type :fn, :src "(defn xml-zip\n  \"Returns a zipper for xml elements (as from xml/parse),\n  given a root element\"\n  {:added \"1.0\"}\n  [root]\n    (zipper (complement string?) \n            (comp seq :content)\n            (fn [node children]\n              (assoc node :content (and children (apply vector children))))\n            root))", :column 1, :line 53, :arglists ([root]), :doc "Returns a zipper for xml elements (as from xml/parse),\n  given a root element", :namespace "clojure.zip"}