{:arglists ([fixtures]), :ns "clojure.test", :name "join-fixtures", :src "(defn join-fixtures\n  \"Composes a collection of fixtures, in order.  Always returns a valid\n  fixture function, even if the collection is empty.\"\n  {:added \"1.1\"}\n  [fixtures]\n  (reduce compose-fixtures default-fixture fixtures))", :column 1, :added "1.1", :type :fn, :doc "Composes a collection of fixtures, in order.  Always returns a valid\n  fixture function, even if the collection is empty.", :line 680, :file "clojure/test.clj"}