{:arglists ([n]), :ns "clojure.core", :name "rand-int", :src "(defn rand-int\n  \"Returns a random integer between 0 (inclusive) and n (exclusive).\"\n  {:added \"1.0\"\n   :static true}\n  [n] (int (rand n)))", :added "1.0", :static true, :type :fn, :doc "Returns a random integer between 0 (inclusive) and n (exclusive).", :line 4349, :file "clojure/core.clj"}