{:added "1.3", :ns "clojure.core", :name "unchecked-char", :file "clojure/core.clj", :type :fn, :src "(defn unchecked-char\n  \"Coerce to char. Subject to rounding or truncation.\"\n  {:inline (fn  [x] `(. clojure.lang.RT (uncheckedCharCast ~x)))\n   :added \"1.3\"}\n  [x] (. clojure.lang.RT (uncheckedCharCast x)))", :column 1, :line 3246, :arglists ([x]), :doc "Coerce to char. Subject to rounding or truncation."}