{:added "1.1", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "future-cancelled?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn future-cancelled?\n  \"Returns true if future f is cancelled\"\n  {:added \"1.1\"\n   :static true}\n  [^java.util.concurrent.Future f] (.isCancelled f))", :column 1, :line 6926, :arglists ([f]), :doc "Returns true if future f is cancelled", :namespace "clojure.core"}