{:added "1.1", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "bytes", :file "clojure/core.clj", :type :fn, :src "(definline bytes\n  \"Casts to bytes[]\"\n  {:added \"1.1\"}\n  [xs] `(. clojure.lang.Numbers bytes ~xs))", :column 1, :line 5293, :arglists ([xs]), :doc "Casts to bytes[]", :namespace "clojure.core"}