{:type :var, :src "(defmulti \n  code-dispatch\n  \"The pretty print dispatch function for pretty printing Clojure code.\"\n  {:added \"1.2\" :arglists '[[object]]} \n  class)", :ns "clojure.pprint", :name "code-dispatch", :arglists [[object]], :added "1.2", :doc "The pretty print dispatch function for pretty printing Clojure code.", :line 375, :file "clojure/pprint/dispatch.clj"}