{:added "1.0", :ns "clojure.core", :name "sequence", :file "clojure/core.clj", :static true, :type :fn, :src "(defn sequence\n  \"Coerces coll to a (possibly empty) sequence, if it is not already\n  one. Will not force a lazy seq. (sequence nil) yields ()\"\n  {:added \"1.0\"\n   :static true}\n  [coll]\n   (if (seq? coll) coll\n    (or (seq coll) ())))", :column 1, :line 2477, :arglists ([coll]), :doc "Coerces coll to a (possibly empty) sequence, if it is not already\n  one. Will not force a lazy seq. (sequence nil) yields ()"}