{:arglists ([provider]), :line 129, :column 1, :file "clojure/inspector.clj", :name "list-model", :ns #object[clojure.lang.Namespace 0x4a242227 "clojure.inspector"], :src "(defn list-model [provider]\n  (let [{:keys [nrows get-value get-label]} provider]\n    (proxy [AbstractTableModel] []\n      (getColumnCount [] 2)\n      (getRowCount [] nrows)\n      (getValueAt [rowIndex columnIndex]\n        (cond \n         (= 0 columnIndex) (get-label rowIndex)\n         (= 1 columnIndex) (print-str (get-value rowIndex)))))))", :type :fn, :namespace "clojure.inspector"}