{:added "1.0", :ns "clojure.core", :name "send", :file "clojure/core.clj", :static true, :type :fn, :src "(defn send\n  \"Dispatch an action to an agent. Returns the agent immediately.\n  Subsequently, in a thread from a thread pool, the state of the agent\n  will be set to the value of:\n\n  (apply action-fn state-of-agent args)\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.Agent a f & args]\n  (apply send-via clojure.lang.Agent/pooledExecutor a f args))", :column 1, :line 2019, :arglists ([a f & args]), :doc "Dispatch an action to an agent. Returns the agent immediately.\n  Subsequently, in a thread from a thread pool, the state of the agent\n  will be set to the value of:\n\n  (apply action-fn state-of-agent args)"}