{:type :var, :src "(def default-streams-impl\n  {:make-reader (fn [x opts] (make-reader (make-input-stream x opts) opts))\n   :make-writer (fn [x opts] (make-writer (make-output-stream x opts) opts))\n   :make-input-stream (fn [x opts]\n                        (throw (IllegalArgumentException.\n                                (str \"Cannot open <\" (pr-str x) \"> as an InputStream.\"))))\n   :make-output-stream (fn [x opts]\n                         (throw (IllegalArgumentException.\n                                 (str \"Cannot open <\" (pr-str x) \"> as an OutputStream.\"))))})", :ns "clojure.java.io", :name "default-streams-impl", :column 1, :line 168, :file "clojure/java/io.clj"}