{:arglists ([f & more]), :ns "clojure.java.io", :name "make-parents", :src "(defn make-parents\n  \"Given the same arg(s) as for file, creates all parent directories of\n   the file they represent.\"\n  {:added \"1.2\"}\n  [f & more]\n  (when-let [parent (.getParentFile ^File (apply file f more))]\n    (.mkdirs parent)))", :column 1, :added "1.2", :type :fn, :doc "Given the same arg(s) as for file, creates all parent directories of\n   the file they represent.", :line 427, :file "clojure/java/io.clj"}