{:arglists ([n] [n loader]), :ns "clojure.java.io", :name "resource", :src "(defn ^URL resource\n  \"Returns the URL for a named resource. Use the context class loader\n   if no loader is specified.\"\n  {:added \"1.2\"}\n  ([n] (resource n (.getContextClassLoader (Thread/currentThread))))\n  ([n ^ClassLoader loader] (.getResource loader n)))", :column 1, :added "1.2", :type :fn, :doc "Returns the URL for a named resource. Use the context class loader\n   if no loader is specified.", :line 435, :file "clojure/java/io.clj", :tag java.net.URL}