{:type :fn, :src "(defn message-el\n  [tag message expected-str actual-str]\n  (indent)\n  (start-element tag false (if message {:message message} {}))\n  (element-content\n   (let [[file line] (t/file-position 5)\n         detail (apply str (interpose\n                            \"\\n\"\n                            [(str \"expected: \" expected-str)\n                             (str \"  actual: \" actual-str)\n                             (str \"      at: \" file \":\" line)]))]\n     (if message (str message \"\\n\" detail) detail)))\n  (finish-element tag false)\n  (println))", :ns "clojure.test.junit", :name "message-el", :file "clojure/test/junit.clj", :column 1, :line 113, :arglists ([tag message expected-str actual-str])}