{:added "1.0", :ns "clojure.zip", :name "right", :file "clojure/zip.clj", :type :fn, :src "(defn right\n  \"Returns the loc of the right sibling of the node at this loc, or nil\"\n  {:added \"1.0\"}\n  [loc]\n    (let [[node {l :l  [r & rnext :as rs] :r :as path}] loc]\n      (when (and path rs)\n        (with-meta [r (assoc path :l (conj l node) :r rnext)] (meta loc)))))", :column 1, :line 149, :arglists ([loc]), :doc "Returns the loc of the right sibling of the node at this loc, or nil"}