{:added "1.2", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "extends?", :file "clojure/core_deftype.clj", :type :fn, :src "(defn extends? \n  \"Returns true if atype extends protocol\"\n  {:added \"1.2\"}\n  [protocol atype]\n  (boolean (or (implements? protocol atype) \n               (get (:impls protocol) atype))))", :column 1, :line 556, :arglists ([protocol atype]), :doc "Returns true if atype extends protocol", :namespace "clojure.core"}