{:added "1.5", :ns "clojure.edn", :name "read-string", :file "clojure/edn.clj", :type :fn, :src "(defn read-string\n  \"Reads one object from the string s. Returns nil when s is nil or empty.\n\n  Reads data in the edn format (subset of Clojure data):\n  http://edn-format.org\n\n  opts is a map as per clojure.edn/read\"\n  {:added \"1.5\"}\n  ([s] (read-string {:eof nil} s))\n  ([opts s] (when s (clojure.lang.EdnReader/readString s opts))))", :column 1, :line 37, :arglists ([s] [opts s]), :doc "Reads one object from the string s. Returns nil when s is nil or empty.\n\n  Reads data in the edn format (subset of Clojure data):\n  http://edn-format.org\n\n  opts is a map as per clojure.edn/read"}