{:added "1.5", :ns "clojure.core", :name "set-agent-send-off-executor!", :file "clojure/core.clj", :type :fn, :src "(defn set-agent-send-off-executor!\n  \"Sets the ExecutorService to be used by send-off\"\n  {:added \"1.5\"}\n  [executor]\n  (set! clojure.lang.Agent/soloExecutor executor))", :column 1, :line 1981, :arglists ([executor]), :doc "Sets the ExecutorService to be used by send-off"}