{:arglists ([f] [f coll]), :ns "clojure.core.reducers", :name "map", :src "(defcurried map\n  \"Applies f to every value in the reduction of coll. Foldable.\"\n  {:added \"1.5\"}\n  [f coll]\n  (folder coll\n   (fn [f1]\n     (rfn [f1 k]\n          ([ret k v]\n             (f1 ret (f k v)))))))", :column 1, :added "1.5", :type :fn, :doc "Applies f to every value in the reduction of coll. Foldable.", :line 161, :file "clojure/core/reducers.clj"}