{:doc "A sequence of lib specs that are applied to `require`\nby default when a new command-line REPL is started.", :line 164, :column 1, :file "clojure/main.clj", :name "repl-requires", :ns #object[clojure.lang.Namespace 0x1ee98d0d "clojure.main"], :src "(def ^{:doc \"A sequence of lib specs that are applied to `require`\nby default when a new command-line REPL is started.\"} repl-requires\n  '[[clojure.repl :refer (source apropos dir pst doc find-doc)]\n    [clojure.java.javadoc :refer (javadoc)]\n    [clojure.pprint :refer (pp pprint)]])", :type :var, :namespace "clojure.main"}