{:added "1.0", :ns "clojure.core", :name "sequential?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn sequential?\n \"Returns true if coll implements Sequential\"\n {:added \"1.0\"\n  :static true}\n  [coll] (instance? clojure.lang.Sequential coll))", :column 1, :line 5980, :arglists ([coll]), :doc "Returns true if coll implements Sequential"}