{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "zero?", :file "clojure/core.clj", :type :fn, :src "(defn zero?\n  \"Returns true if num is zero, else false\"\n  {\n   :inline (fn [num] `(. clojure.lang.Numbers (isZero ~num)))\n   :added \"1.0\"}\n  [num] (. clojure.lang.Numbers (isZero num)))", :column 1, :line 859, :arglists ([num]), :doc "Returns true if num is zero, else false", :namespace "clojure.core"}