{:added "1.0", :ns "clojure.core", :name "with-in-str", :file "clojure/core.clj", :type :macro, :src "(defmacro with-in-str\n  \"Evaluates body in a context in which *in* is bound to a fresh\n  StringReader initialized with the string s.\"\n  {:added \"1.0\"}\n  [s & body]\n  `(with-open [s# (-> (java.io.StringReader. ~s) clojure.lang.LineNumberingPushbackReader.)]\n     (binding [*in* s#]\n       ~@body)))", :column 1, :line 4472, :macro true, :arglists ([s & body]), :doc "Evaluates body in a context in which *in* is bound to a fresh\n  StringReader initialized with the string s."}