{:type :fn, :src "(defn -reset-methods [protocol]\n  (doseq [[^clojure.lang.Var v build] (:method-builders protocol)]\n    (let [cache (clojure.lang.MethodImplCache. protocol (keyword (.sym v)))]\n      (.bindRoot v (build cache)))))", :ns "clojure.core", :name "-reset-methods", :arglists ([protocol]), :line 561, :file "clojure/core_deftype.clj"}