{:arglists ([x]), :ns "clojure.java.io", :name "as-relative-path", :src "(defn ^String as-relative-path\n  \"Take an as-file-able thing and return a string if it is\n   a relative path, else IllegalArgumentException.\"\n  {:added \"1.2\"}\n  [x]\n  (let [^File f (as-file x)]\n    (if (.isAbsolute f)\n      (throw (IllegalArgumentException. (str f \" is not a relative path\")))\n      (.getPath f))))", :added "1.2", :type :fn, :doc "Take an as-file-able thing and return a string if it is\n   a relative path, else IllegalArgumentException.", :line 397, :file "clojure/java/io.clj", :tag java.lang.String}