{:ns #object[clojure.lang.Namespace 0xcc6c7c9 "clojure.repl"], :name "dir-fn", :file "clojure/repl.clj", :type :fn, :src "(defn dir-fn\n  \"Returns a sorted seq of symbols naming public vars in\n  a namespace or namespace alias. Looks for aliases in *ns*\"\n  [ns]\n  (sort (map first (ns-publics (the-ns (get (ns-aliases *ns*) ns ns))))))", :column 1, :line 196, :arglists ([ns]), :doc "Returns a sorted seq of symbols naming public vars in\n  a namespace or namespace alias. Looks for aliases in *ns*", :namespace "clojure.repl"}