{:arglists ([protocol]), :line 617, :column 1, :file "clojure/core_deftype.clj", :name "-reset-methods", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :src "(defn -reset-methods [protocol]\n  (doseq [[^clojure.lang.Var v build] (:method-builders protocol)]\n    (let [cache (clojure.lang.MethodImplCache. protocol (keyword (.sym v)))]\n      (.bindRoot v (build cache)))))", :type :fn, :namespace "clojure.core"}