{:arglists ([obj m]), :ns "clojure.core", :name "with-meta", :src "(def\n ^{:arglists '([^clojure.lang.IObj obj m])\n   :doc \"Returns an object of the same type and value as obj, with\n    map m as its metadata.\"\n   :added \"1.0\"\n   :static true}\n with-meta (fn ^:static with-meta [^clojure.lang.IObj x m]\n             (. x (withMeta m))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns an object of the same type and value as obj, with\n    map m as its metadata.", :line 207, :file "clojure/core.clj"}