{:arglists ([s & body]), :ns "clojure.core", :name "with-in-str", :src "(defmacro with-in-str\n  \"Evaluates body in a context in which *in* is bound to a fresh\n  StringReader initialized with the string s.\"\n  {:added \"1.0\"}\n  [s & body]\n  `(with-open [s# (-> (java.io.StringReader. ~s) clojure.lang.LineNumberingPushbackReader.)]\n     (binding [*in* s#]\n       ~@body)))", :added "1.0", :type :macro, :doc "Evaluates body in a context in which *in* is bound to a fresh\n  StringReader initialized with the string s.", :macro true, :line 4181, :file "clojure/core.clj"}