{:type :var, :src "(def ^:dynamic\n ^{:doc \"bound in a repl thread to the second most recent value printed\"\n   :added \"1.0\"}\n *2)", :ns "clojure.core", :name "*2", :dynamic true, :added "1.0", :doc "bound in a repl thread to the second most recent value printed", :line 5549, :file "clojure/core.clj"}