{:added "1.9", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "pos-int?", :file "clojure/core.clj", :type :fn, :src "(defn pos-int?\n  \"Return true if x is a positive fixed precision integer\"\n  {:added \"1.9\"}\n  [x] (and (int? x)\n           (pos? x)))", :column 1, :line 1400, :arglists ([x]), :doc "Return true if x is a positive fixed precision integer", :namespace "clojure.core"}