{:added "1.0", :ns "clojure.core", :name "*3", :file "clojure/core.clj", :type :var, :src "(def ^:dynamic\n ^{:doc \"bound in a repl thread to the third most recent value printed\"\n   :added \"1.0\"}\n *3)", :column 1, :dynamic true, :line 6014, :doc "bound in a repl thread to the third most recent value printed"}