{:added "1.2", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "bound?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn bound?\n  \"Returns true if all of the vars provided as arguments have any bound value, root or thread-local.\n   Implies that deref'ing the provided vars will succeed. Returns true if no vars are provided.\"\n  {:added \"1.2\"\n   :static true}\n  [& vars]\n  (every? #(.isBound ^clojure.lang.Var %) vars))", :column 1, :line 5452, :arglists ([& vars]), :doc "Returns true if all of the vars provided as arguments have any bound value, root or thread-local.\n   Implies that deref'ing the provided vars will succeed. Returns true if no vars are provided.", :namespace "clojure.core"}