{:added "1.1", :ns "clojure.core", :name "short-array", :file "clojure/core.clj", :type :fn, :src "(defn short-array\n  \"Creates an array of shorts\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers short_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.1\"}\n  ([size-or-seq] (. clojure.lang.Numbers short_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers short_array size init-val-or-seq)))", :column 1, :line 5105, :arglists ([size-or-seq] [size init-val-or-seq]), :doc "Creates an array of shorts"}