{:line 19, :column 1, :file "clojure/core/protocols.clj", :name "InternalReduce", :ns #object[clojure.lang.Namespace 0x6b89b36d "clojure.core.protocols"], :doc "Protocol for concrete seq types that can reduce themselves\n   faster than first/next recursion. Called by clojure.core/reduce.", :src "(defprotocol InternalReduce\n  \"Protocol for concrete seq types that can reduce themselves\n   faster than first/next recursion. Called by clojure.core/reduce.\"\n  (internal-reduce [seq f start]))", :type :var, :namespace "clojure.core.protocols"}