{:added "1.1", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "ref-history-count", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ref-history-count\n  \"Returns the history count of a ref\"\n  {:added \"1.1\"\n   :static true}\n  [^clojure.lang.Ref ref]\n    (.getHistoryCount ref))", :column 1, :line 2455, :arglists ([ref]), :doc "Returns the history count of a ref", :namespace "clojure.core"}