{:added "1.3", :ns "clojure.core", :name "unchecked-long", :file "clojure/core.clj", :type :fn, :src "(defn unchecked-long\n  \"Coerce to long. Subject to rounding or truncation.\"\n  {:inline (fn  [x] `(. clojure.lang.RT (uncheckedLongCast ~x)))\n   :added \"1.3\"}\n  [^Number x] (clojure.lang.RT/uncheckedLongCast x))", :column 1, :line 3258, :arglists ([x]), :doc "Coerce to long. Subject to rounding or truncation."}