{:arglists ([loc item]), :ns "clojure.zip", :name "insert-child", :src "(defn insert-child\n  \"Inserts the item as the leftmost child of the node at this loc,\n  without moving\"\n  {:added \"1.0\"}\n  [loc item]\n    (replace loc (make-node loc (node loc) (cons item (children loc)))))", :column 1, :added "1.0", :type :fn, :doc "Inserts the item as the leftmost child of the node at this loc,\n  without moving", :line 216, :file "clojure/zip.clj"}