{:arglists ([x]), :ns "clojure.core", :name "second", :src "(def\n ^{:doc \"Same as (first (next x))\"\n   :arglists '([x])\n   :added \"1.0\"\n   :static true}\n second (fn ^:static second [x] (first (next x))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Same as (first (next x))", :line 89, :file "clojure/core.clj"}