{:added "1.0", :ns "clojure.core", :name "defmethod", :file "clojure/core.clj", :type :macro, :src "(defmacro defmethod\n  \"Creates and installs a new method of multimethod associated with dispatch-value. \"\n  {:added \"1.0\"}\n  [multifn dispatch-val & fn-tail]\n  `(. ~(with-meta multifn {:tag 'clojure.lang.MultiFn}) addMethod ~dispatch-val (fn ~@fn-tail)))", :column 1, :line 1663, :macro true, :arglists ([multifn dispatch-val & fn-tail]), :doc "Creates and installs a new method of multimethod associated with dispatch-value. "}