{:added "1.0", :ns "clojure.core", :name "drop", :file "clojure/core.clj", :static true, :type :fn, :src "(defn drop\n  \"Returns a lazy sequence of all but the first n items in coll.\"\n  {:added \"1.0\"\n   :static true}\n  [n coll]\n  (let [step (fn [n coll]\n               (let [s (seq coll)]\n                 (if (and (pos? n) s)\n                   (recur (dec n) (rest s))\n                   s)))]\n    (lazy-seq (step n coll))))", :column 1, :line 2640, :arglists ([n coll]), :doc "Returns a lazy sequence of all but the first n items in coll."}