{:added "1.0", :ns "clojure.core", :name "gensym", :file "clojure/core.clj", :static true, :type :fn, :src "(defn gensym\n  \"Returns a new symbol with a unique name. If a prefix string is\n  supplied, the name is prefix# where # is some unique number. If\n  prefix is not supplied, the prefix is 'G__'.\"\n  {:added \"1.0\"\n   :static true}\n  ([] (gensym \"G__\"))\n  ([prefix-string] (. clojure.lang.Symbol (intern (str prefix-string (str (. clojure.lang.RT (nextID))))))))", :column 1, :line 549, :arglists ([] [prefix-string]), :doc "Returns a new symbol with a unique name. If a prefix string is\n  supplied, the name is prefix# where # is some unique number. If\n  prefix is not supplied, the prefix is 'G__'."}