{:added "1.0", :ns "clojure.core", :name "long-array", :file "clojure/core.clj", :type :fn, :src "(defn long-array\n  \"Creates an array of longs\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers long_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.0\"}\n  ([size-or-seq] (. clojure.lang.Numbers long_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers long_array size init-val-or-seq)))", :inline-arities #{1 2}, :column 1, :line 4890, :arglists ([size-or-seq] [size init-val-or-seq]), :doc "Creates an array of longs"}