{:added "1.0", :ns "clojure.core", :name "symbol", :file "clojure/core.clj", :static true, :type :fn, :src "(defn symbol\n  \"Returns a Symbol with the given namespace and name.\"\n  {:tag clojure.lang.Symbol\n   :added \"1.0\"\n   :static true}\n  ([name] (if (symbol? name) name (clojure.lang.Symbol/intern name)))\n  ([ns name] (clojure.lang.Symbol/intern ns name)))", :column 1, :line 541, :tag clojure.lang.Symbol, :arglists ([name] [ns name]), :doc "Returns a Symbol with the given namespace and name."}