{:added "1.0", :ns "clojure.core", :name "take", :file "clojure/core.clj", :static true, :type :fn, :src "(defn take\n  \"Returns a lazy sequence of the first n items in coll, or all items if\n  there are fewer than n.\"\n  {:added \"1.0\"\n   :static true}\n  [n coll]\n  (lazy-seq\n   (when (pos? n) \n     (when-let [s (seq coll)]\n      (cons (first s) (take (dec n) (rest s)))))))", :column 1, :line 2618, :arglists ([n coll]), :doc "Returns a lazy sequence of the first n items in coll, or all items if\n  there are fewer than n."}