{:added "1.0", :ns "clojure.core", :name "vector", :file "clojure/core.clj", :static true, :type :fn, :src "(defn vector\n  \"Creates a new vector containing the args.\"\n  {:added \"1.0\"\n   :static true}\n  ([] [])\n  ([a] [a])\n  ([a b] [a b])\n  ([a b c] [a b c])\n  ([a b c d] [a b c d])\n  ([a b c d & args]\n     (. clojure.lang.LazilyPersistentVector (create (cons a (cons b (cons c (cons d args))))))))", :column 1, :line 335, :arglists ([] [a] [a b] [a b c] [a b c d] [a b c d & args]), :doc "Creates a new vector containing the args."}