{:arglists ([coll]), :ns "clojure.core", :name "last", :src "(def \n ^{:arglists '([coll])\n   :doc \"Return the last item in coll, in linear time\"\n   :added \"1.0\"\n   :static true}\n last (fn ^:static last [s]\n        (if (next s)\n          (recur (next s))\n          (first s))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Return the last item in coll, in linear time", :line 245, :file "clojure/core.clj"}