{:added "1.0", :ns "clojure.core", :name "apply", :file "clojure/core.clj", :static true, :type :fn, :src "(defn apply\n  \"Applies fn f to the argument list formed by prepending intervening arguments to args.\"\n  {:added \"1.0\"\n   :static true}\n  ([^clojure.lang.IFn f args]\n     (. f (applyTo (seq args))))\n  ([^clojure.lang.IFn f x args]\n     (. f (applyTo (list* x args))))\n  ([^clojure.lang.IFn f x y args]\n     (. f (applyTo (list* x y args))))\n  ([^clojure.lang.IFn f x y z args]\n     (. f (applyTo (list* x y z args))))\n  ([^clojure.lang.IFn f a b c d & args]\n     (. f (applyTo (cons a (cons b (cons c (cons d (spread args)))))))))", :column 1, :line 625, :arglists ([f args] [f x args] [f x y args] [f x y z args] [f a b c d & args]), :doc "Applies fn f to the argument list formed by prepending intervening arguments to args."}