{:arglists ([content]), :line 66, :column 1, :file "clojure/test/junit.clj", :name "element-content", :ns #object[clojure.lang.Namespace 0x2f832f81 "clojure.test.junit"], :src "(defn element-content\n  [content]\n  (print (escape-xml content)))", :type :fn, :namespace "clojure.test.junit"}