{:added "1.2", :ns "clojure.core", :name "object-array", :file "clojure/core.clj", :type :fn, :src "(defn object-array\n  \"Creates an array of objects\"\n  {:inline (fn [arg] `(. clojure.lang.RT object_array ~arg))\n   :inline-arities #{1}\n   :added \"1.2\"}\n  ([size-or-seq] (. clojure.lang.RT object_array size-or-seq)))", :column 1, :line 5097, :arglists ([size-or-seq]), :doc "Creates an array of objects"}