{:arglists ([call this meth]), :line 364, :column 1, :file "clojure/core_proxy.clj", :name "proxy-call-with-super", :ns "clojure.core", :src "(defn proxy-call-with-super [call this meth]\n (let [m (proxy-mappings this)]\n    (update-proxy this (assoc m meth nil))\n    (try\n      (call)\n      (finally (update-proxy this m)))))", :type :fn}