{:arglists ([r]), :ns "clojure.core", :name "denominator", :src "(defn denominator\n  \"Returns the denominator part of a Ratio.\"\n  {:tag BigInteger\n   :added \"1.2\"\n   :static true}\n  [r]\n  (.denominator ^clojure.lang.Ratio r))", :added "1.2", :static true, :type :fn, :doc "Returns the denominator part of a Ratio.", :line 3185, :file "clojure/core.clj", :tag java.math.BigInteger}