{:added "1.0", :ns "clojure.core", :name "assoc-in", :file "clojure/core.clj", :static true, :type :fn, :src "(defn assoc-in\n  \"Associates a value in a nested associative structure, where ks is a\n  sequence of keys and v is the new value and returns a new nested structure.\n  If any levels do not exist, hash-maps will be created.\"\n  {:added \"1.0\"\n   :static true}\n  [m [k & ks] v]\n  (if ks\n    (assoc m k (assoc-in (get m k) ks v))\n    (assoc m k v)))", :column 1, :line 5898, :arglists ([m [k & ks] v]), :doc "Associates a value in a nested associative structure, where ks is a\n  sequence of keys and v is the new value and returns a new nested structure.\n  If any levels do not exist, hash-maps will be created."}