{:added "1.4", :ns "clojure.core", :name "ex-info", :file "clojure/core.clj", :type :fn, :src "(defn ex-info\n  \"Create an instance of ExceptionInfo, a RuntimeException subclass\n   that carries a map of additional data.\"\n  {:added \"1.4\"}\n  ([msg map]\n     (ExceptionInfo. msg map))\n  ([msg map cause]\n     (ExceptionInfo. msg map cause)))", :column 1, :line 4617, :arglists ([msg map] [msg map cause]), :doc "Create an instance of ExceptionInfo, a RuntimeException subclass\n   that carries a map of additional data."}