{:added "1.0", :ns "clojure.core", :name "defn-", :file "clojure/core.clj", :type :macro, :src "(defmacro defn-\n  \"same as defn, yielding non-public def\"\n  {:added \"1.0\"}\n  [name & decls]\n    (list* `defn (with-meta name (assoc (meta name) :private true)) decls))", :column 1, :line 4692, :macro true, :arglists ([name & decls]), :doc "same as defn, yielding non-public def"}