{:added "1.0", :ns "clojure.core", :name "hash-set", :file "clojure/core.clj", :static true, :type :fn, :src "(defn hash-set\n  \"Returns a new hash set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj.\"\n  {:added \"1.0\"\n   :static true}\n  ([] #{})\n  ([& keys]\n   (clojure.lang.PersistentHashSet/create keys)))", :column 1, :line 369, :arglists ([] [& keys]), :doc "Returns a new hash set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj."}