{:type :fn, :src "(defn prev\n  \"Moves to the previous loc in the hierarchy, depth-first. If already\n  at the root, returns nil.\"\n  {:added \"1.0\"}\n  [loc]\n    (if-let [lloc (left loc)]\n      (loop [loc lloc]\n        (if-let [child (and (branch? loc) (down loc))]\n          (recur (rightmost child))\n          loc))\n      (up loc)))", :ns "clojure.zip", :name "prev", :arglists ([loc]), :added "1.0", :doc "Moves to the previous loc in the hierarchy, depth-first. If already\n  at the root, returns nil.", :line 246, :file "clojure/zip.clj"}