{:arglists ([& more]), :ns "clojure.core", :name "print", :src "(defn print\n  \"Prints the object(s) to the output stream that is the current value\n  of *out*.  print and println produce output for human consumption.\"\n  {:added \"1.0\"\n   :static true}\n  [& more]\n    (binding [*print-readably* nil]\n      (apply pr more)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Prints the object(s) to the output stream that is the current value\n  of *out*.  print and println produce output for human consumption.", :line 3372, :file "clojure/core.clj"}