{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "print-str", :file "clojure/core.clj", :static true, :type :fn, :src "(defn print-str\n  \"print to a string, returning it\"\n  {:tag String\n   :added \"1.0\"\n   :static true}\n  [& xs]\n    (with-out-str\n     (apply print xs)))", :column 1, :line 4720, :tag java.lang.String, :arglists ([& xs]), :doc "print to a string, returning it", :namespace "clojure.core"}