{:arglists ([s & inits]), :ns "clojure.core", :name "struct-map", :src "(defn struct-map\n  \"Returns a new structmap instance with the keys of the\n  structure-basis. keyvals may contain all, some or none of the basis\n  keys - where values are not supplied they will default to nil.\n  keyvals can also contain keys not in the basis.\"\n  {:added \"1.0\"\n   :static true}\n  [s & inits]\n    (. clojure.lang.PersistentStructMap (create s inits)))", :added "1.0", :static true, :type :fn, :doc "Returns a new structmap instance with the keys of the\n  structure-basis. keyvals may contain all, some or none of the basis\n  keys - where values are not supplied they will default to nil.\n  keyvals can also contain keys not in the basis.", :line 3592, :file "clojure/core.clj"}