{:added "1.0", :ns "clojure.core", :name "amap", :file "clojure/core.clj", :type :macro, :src "(defmacro amap\n  \"Maps an expression across an array a, using an index named idx, and\n  return value named ret, initialized to a clone of a, then setting \n  each element of ret to the evaluation of expr, returning the new \n  array ret.\"\n  {:added \"1.0\"}\n  [a idx ret expr]\n  `(let [a# ~a\n         ~ret (aclone a#)]\n     (loop  [~idx 0]\n       (if (< ~idx  (alength a#))\n         (do\n           (aset ~ret ~idx ~expr)\n           (recur (unchecked-inc ~idx)))\n         ~ret))))", :column 1, :line 5045, :macro true, :arglists ([a idx ret expr]), :doc "Maps an expression across an array a, using an index named idx, and\n  return value named ret, initialized to a clone of a, then setting \n  each element of ret to the evaluation of expr, returning the new \n  array ret."}