{:arglists ([sym]), :ns "clojure.core", :name "remove-ns", :src "(defn remove-ns\n  \"Removes the namespace named by the symbol. Use with caution.\n  Cannot be used to remove the clojure namespace.\"\n  {:added \"1.0\"\n   :static true}\n  [sym] (clojure.lang.Namespace/remove sym))", :added "1.0", :static true, :type :fn, :doc "Removes the namespace named by the symbol. Use with caution.\n  Cannot be used to remove the clojure namespace.", :line 3669, :file "clojure/core.clj"}