{:arglists ([pred]), :ns "clojure.core", :name "comparator", :src "(defn comparator\n  \"Returns an implementation of java.util.Comparator based upon pred.\"\n  {:added \"1.0\"\n   :static true}\n  [pred]\n    (fn [x y]\n      (cond (pred x y) -1 (pred y x) 1 :else 0)))", :added "1.0", :static true, :type :fn, :doc "Returns an implementation of java.util.Comparator based upon pred.", :line 2681, :file "clojure/core.clj"}