{:added "1.0", :ns "clojure.core", :name "remove-watch", :file "clojure/core.clj", :static true, :type :fn, :src "(defn remove-watch\n  \"Removes a watch (set by add-watch) from a reference\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.IRef reference key]\n  (.removeWatch reference key))", :column 1, :line 2070, :arglists ([reference key]), :doc "Removes a watch (set by add-watch) from a reference"}