{:arglists ([loc]), :ns "clojure.zip", :name "path", :src "(defn path\n  \"Returns a seq of nodes leading to this loc\"\n  {:added \"1.0\"}\n  [loc]\n    (:pnodes (loc 1)))", :column 1, :added "1.0", :type :fn, :doc "Returns a seq of nodes leading to this loc", :line 90, :file "clojure/zip.clj"}