{:arglists ([root]), :ns "clojure.zip", :name "seq-zip", :src "(defn seq-zip\n  \"Returns a zipper for nested sequences, given a root sequence\"\n  {:added \"1.0\"}\n  [root]\n    (zipper seq?\n            identity\n            (fn [node children] (with-meta children (meta node)))\n            root))", :column 1, :added "1.0", :type :fn, :doc "Returns a zipper for nested sequences, given a root sequence", :line 35, :file "clojure/zip.clj"}