{:arglists ([x]), :ns "clojure.core", :name "zero?", :src "(defn zero?\n  \"Returns true if num is zero, else false\"\n  {\n   :inline (fn [x] `(. clojure.lang.Numbers (isZero ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers (isZero x)))", :column 1, :added "1.0", :type :fn, :doc "Returns true if num is zero, else false", :line 819, :file "clojure/core.clj", :inline #<core$zero_QMARK___inliner clojure.core$zero_QMARK___inliner@47581385>}