{:arglists ([env & forms]), :ns "clojure.java.shell", :name "with-sh-env", :src "(defmacro with-sh-env\n  \"Sets the environment for use with sh, see sh for details.\"\n  {:added \"1.2\"}\n  [env & forms]\n  `(binding [*sh-env* ~env]\n     ~@forms))", :column 1, :added "1.2", :type :macro, :doc "Sets the environment for use with sh, see sh for details.", :macro true, :line 28, :file "clojure/java/shell.clj"}