{:arglists ([tag pretty & [attrs]]), :line 55, :column 1, :file "clojure/test/junit.clj", :name "start-element", :ns "clojure.test.junit", :src "(defn start-element\n  [tag pretty & [attrs]]\n  (if pretty (indent))\n  (print (str \"<\" tag))\n  (if (seq attrs)\n    (doseq [[key value] attrs]\n      (print (str \" \" (name key) \"=\\\"\" (escape-xml value) \"\\\"\"))))\n  (print \">\")\n  (if pretty (println))\n  (set! *depth* (inc *depth*)))", :type :fn}