{:added "1.0", :ns "clojure.core", :name "unchecked-dec", :file "clojure/core.clj", :type :fn, :src "(defn unchecked-dec\n  \"Returns a number one less than x, a long.\n  Note - uses a primitive operator subject to overflow.\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (unchecked_dec ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers (unchecked_dec x)))", :column 1, :line 1133, :arglists ([x]), :doc "Returns a number one less than x, a long.\n  Note - uses a primitive operator subject to overflow."}