{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "char-name-string", :file "clojure/core_print.clj", :type :var, :src "(def ^{:tag String\n       :doc \"Returns name string for char or nil if none\"\n       :added \"1.0\"} \n char-name-string\n   {\\newline \"newline\"\n    \\tab \"tab\"\n    \\space \"space\"\n    \\backspace \"backspace\"\n    \\formfeed \"formfeed\"\n    \\return \"return\"})", :column 1, :line 342, :tag java.lang.String, :doc "Returns name string for char or nil if none", :namespace "clojure.core"}