{:arglists ([x]), :ns "clojure.core", :name "float", :src "(defn float\n  \"Coerce to float\"\n  {:inline (fn  [x] `(. clojure.lang.RT (~(if *unchecked-math* 'uncheckedFloatCast 'floatCast) ~x)))\n   :added \"1.0\"}\n  [^Number x] (clojure.lang.RT/floatCast x))", :column 1, :added "1.0", :type :fn, :doc "Coerce to float", :line 3129, :file "clojure/core.clj", :inline #<core$float__inliner clojure.core$float__inliner@5e90dbfc>}