{:arglists ([class]), :ns "clojure.core", :name "supers", :src "(defn supers\n  \"Returns the immediate and indirect superclasses and interfaces of c, if any\"\n  {:added \"1.0\"\n   :static true}\n  [^Class class]\n  (loop [ret (set (bases class)) cs ret]\n    (if (seq cs)\n      (let [c (first cs) bs (bases c)]\n        (recur (into1 ret bs) (into1 (disj cs c) bs)))\n      (not-empty ret))))", :added "1.0", :static true, :type :fn, :doc "Returns the immediate and indirect superclasses and interfaces of c, if any", :line 4883, :file "clojure/core.clj"}