{:added "1.1", :ns "clojure.walk", :name "macroexpand-all", :file "clojure/walk.clj", :type :fn, :src "(defn macroexpand-all\n  \"Recursively performs all possible macroexpansions in form.\"\n  {:added \"1.1\"}\n  [form]\n  (prewalk (fn [x] (if (seq? x) (macroexpand x) x)) form))", :column 1, :line 125, :arglists ([form]), :doc "Recursively performs all possible macroexpansions in form."}