{:added "1.0", :ns "clojure.inspector", :name "inspect-table", :file "clojure/inspector.clj", :type :fn, :src "(defn inspect-table \n  \"creates a graphical (Swing) inspector on the supplied regular\n  data, which must be a sequential data structure of data structures\n  of equal length\"\n  {:added \"1.0\"}\n    [data]\n  (doto (JFrame. \"Clojure Inspector\")\n    (.add (JScrollPane. (JTable. (old-table-model data))))\n    (.setSize 400 600)\n    (.setVisible true)))", :column 1, :line 100, :arglists ([data]), :doc "creates a graphical (Swing) inspector on the supplied regular\n  data, which must be a sequential data structure of data structures\n  of equal length"}