{:added "1.1", :ns "clojure.core", :name "ref-min-history", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ref-min-history\n  \"Gets the min-history of a ref, or sets it and returns the ref\"\n  {:added \"1.1\"\n   :static true}\n  ([^clojure.lang.Ref ref]\n    (.getMinHistory ref))\n  ([^clojure.lang.Ref ref n]\n    (.setMinHistory ref n)))", :column 1, :line 2337, :arglists ([ref] [ref n]), :doc "Gets the min-history of a ref, or sets it and returns the ref"}