{:ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "chunked-seq?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ^:static chunked-seq? [s]\n  (instance? clojure.lang.IChunkedSeq s))", :column 1, :line 707, :arglists ([s]), :namespace "clojure.core"}