{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "cycle", :file "clojure/core.clj", :static true, :type :fn, :src "(defn cycle\n  \"Returns a lazy (infinite!) sequence of repetitions of the items in coll.\"\n  {:added \"1.0\"\n   :static true}\n  [coll] (clojure.lang.Cycle/create (seq coll)))", :column 1, :line 2971, :arglists ([coll]), :doc "Returns a lazy (infinite!) sequence of repetitions of the items in coll.", :namespace "clojure.core"}