{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "iterator-seq", :file "clojure/core.clj", :static true, :type :fn, :src "(defn iterator-seq\n  \"Returns a seq on a java.util.Iterator. Note that most collections\n  providing iterators implement Iterable and thus support seq directly.\n  Seqs cache values, thus iterator-seq should not be used on any\n  iterator that repeatedly returns the same mutable object.\"\n  {:added \"1.0\"\n   :static true}\n  [iter]\n  (clojure.lang.RT/chunkIteratorSeq iter))", :column 1, :line 5661, :arglists ([iter]), :doc "Returns a seq on a java.util.Iterator. Note that most collections\n  providing iterators implement Iterable and thus support seq directly.\n  Seqs cache values, thus iterator-seq should not be used on any\n  iterator that repeatedly returns the same mutable object.", :namespace "clojure.core"}