{:arglists ([x]), :ns "clojure.core", :name "fn?", :src "(defn fn?\n  \"Returns true if x implements Fn, i.e. is an object created via fn.\"\n  {:added \"1.0\"\n   :static true}\n  [x] (instance? clojure.lang.Fn x))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns true if x implements Fn, i.e. is an object created via fn.", :line 5622, :file "clojure/core.clj"}