{:arglists ([x]), :ns "clojure.core", :name "constantly", :src "(defn constantly\n  \"Returns a function that takes any number of arguments and returns x.\"\n  {:added \"1.0\"\n   :static true}\n  [x] (fn [& args] x))", :added "1.0", :static true, :type :fn, :doc "Returns a function that takes any number of arguments and returns x.", :line 1345, :file "clojure/core.clj"}