{:arglists ([coll x]), :ns "clojure.core", :name "conj!", :src "(defn conj!\n  \"Alpha - subject to change.\n  Adds x to the transient collection, and return coll. The 'addition'\n  may happen at different 'places' depending on the concrete type.\"\n  {:added \"1.1\"\n   :static true}\n  [^clojure.lang.ITransientCollection coll x]\n  (.conj coll x))", :added "1.1", :static true, :type :fn, :doc "Alpha - subject to change.\n  Adds x to the transient collection, and return coll. The 'addition'\n  may happen at different 'places' depending on the concrete type.", :line 2943, :file "clojure/core.clj"}