{:arglists ([size-or-seq] [size init-val-or-seq]), :ns "clojure.core", :name "boolean-array", :src "(defn boolean-array\n  \"Creates an array of booleans\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers boolean_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.1\"}\n  ([size-or-seq] (. clojure.lang.Numbers boolean_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers boolean_array size init-val-or-seq)))", :column 1, :added "1.1", :type :fn, :inline-arities #{1 2}, :doc "Creates an array of booleans", :line 4729, :file "clojure/core.clj", :inline #<core$boolean_array__inliner clojure.core$boolean_array__inliner@1401d744>}