{:added "1.0", :ns "clojure.core", :name "file-seq", :file "clojure/core.clj", :static true, :type :fn, :src "(defn file-seq\n  \"A tree seq on java.io.Files\"\n  {:added \"1.0\"\n   :static true}\n  [dir]\n    (tree-seq\n     (fn [^java.io.File f] (. f (isDirectory)))\n     (fn [^java.io.File d] (seq (. d (listFiles))))\n     dir))", :column 1, :line 4766, :arglists ([dir]), :doc "A tree seq on java.io.Files"}