{:arglists ([coll]), :ns "clojure.core.reducers", :name "foldcat", :src "(defn foldcat\n  \"Equivalent to (fold cat append! coll)\"\n  {:added \"1.5\"}\n  [coll]\n  (fold cat append! coll))", :column 1, :added "1.5", :type :fn, :doc "Equivalent to (fold cat append! coll)", :line 309, :file "clojure/core/reducers.clj"}