{:added "1.0", :ns #object[clojure.lang.Namespace 0x4ac51b14 "clojure.zip"], :name "prev", :file "clojure/zip.clj", :type :fn, :src "(defn prev\n  \"Moves to the previous loc in the hierarchy, depth-first. If already\n  at the root, returns nil.\"\n  {:added \"1.0\"}\n  [loc]\n    (if-let [lloc (left loc)]\n      (loop [loc lloc]\n        (if-let [child (and (branch? loc) (down loc))]\n          (recur (rightmost child))\n          loc))\n      (up loc)))", :column 1, :line 246, :arglists ([loc]), :doc "Moves to the previous loc in the hierarchy, depth-first. If already\n  at the root, returns nil.", :namespace "clojure.zip"}