{:added "1.5", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "reduced?", :file "clojure/core.clj", :type :fn, :src "(defn reduced?\n  \"Returns true if x is the result of a call to reduced\"\n  {:inline (fn [x] `(clojure.lang.RT/isReduced ~x ))\n   :inline-arities #{1}\n   :added \"1.5\"}\n  ([x] (clojure.lang.RT/isReduced x)))", :column 1, :line 2834, :arglists ([x]), :doc "Returns true if x is the result of a call to reduced", :namespace "clojure.core"}