{:arglists ([a idx ret init expr]), :ns "clojure.core", :name "areduce", :src "(defmacro areduce\n  \"Reduces an expression across an array a, using an index named idx,\n  and return value named ret, initialized to init, setting ret to the \n  evaluation of expr at each step, returning ret.\"\n  {:added \"1.0\"}\n  [a idx ret init expr]\n  `(let [a# ~a]\n     (loop  [~idx 0 ~ret ~init]\n       (if (< ~idx  (alength a#))\n         (recur (unchecked-inc ~idx) ~expr)\n         ~ret))))", :column 1, :added "1.0", :type :macro, :doc "Reduces an expression across an array a, using an index named idx,\n  and return value named ret, initialized to init, setting ret to the \n  evaluation of expr at each step, returning ret.", :macro true, :line 4709, :file "clojure/core.clj"}