{:arglists ([& fns]), :ns "clojure.core", :name "pcalls", :src "(defn pcalls\n  \"Executes the no-arg fns in parallel, returning a lazy sequence of\n  their values\"\n  {:added \"1.0\"\n   :static true}\n  [& fns] (pmap #(%) fns))", :column 1, :added "1.0", :static true, :type :fn, :doc "Executes the no-arg fns in parallel, returning a lazy sequence of\n  their values", :line 6369, :file "clojure/core.clj"}