{:added "1.0", :ns "clojure.core", :name "dec'", :file "clojure/core.clj", :type :fn, :src "(defn dec'\n  \"Returns a number one less than num. Supports arbitrary precision.\n  See also: dec\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (decP ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers (decP x)))", :column 1, :line 1116, :arglists ([x]), :doc "Returns a number one less than num. Supports arbitrary precision.\n  See also: dec"}