{:arglists ([& exprs]), :ns "clojure.core", :name "pvalues", :src "(defmacro pvalues\n  \"Returns a lazy sequence of the values of the exprs, which are\n  evaluated in parallel\"\n  {:added \"1.0\"\n   :static true}\n  [& exprs]\n  `(pcalls ~@(map #(list `fn [] %) exprs)))", :added "1.0", :static true, :type :macro, :doc "Returns a lazy sequence of the values of the exprs, which are\n  evaluated in parallel", :macro true, :line 6226, :file "clojure/core.clj"}