{:type :fn, :src "(defn load-script\n  \"Loads Clojure source from a file or resource given its path. Paths\n  beginning with @ or @/ are considered relative to classpath.\"\n  [^String path]\n  (if (.startsWith path \"@\")\n    (RT/loadResourceScript\n     (.substring path (if (.startsWith path \"@/\") 2 1)))\n    (Compiler/loadFile path)))", :ns "clojure.main", :name "load-script", :file "clojure/main.clj", :column 1, :line 267, :arglists ([path]), :doc "Loads Clojure source from a file or resource given its path. Paths\n  beginning with @ or @/ are considered relative to classpath."}