{:added "1.0", :ns "clojure.core", :name "alength", :file "clojure/core.clj", :type :fn, :src "(defn alength\n  \"Returns the length of the Java array. Works on arrays of all\n  types.\"\n  {:inline (fn [a] `(. clojure.lang.RT (alength ~a)))\n   :added \"1.0\"}\n  [array] (. clojure.lang.RT (alength array)))", :column 1, :line 3680, :arglists ([array]), :doc "Returns the length of the Java array. Works on arrays of all\n  types."}