{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "longs", :file "clojure/core.clj", :type :fn, :src "(definline longs\n  \"Casts to long[]\"\n  {:added \"1.0\"}\n  [xs] `(. clojure.lang.Numbers longs ~xs))", :column 1, :line 5323, :arglists ([xs]), :doc "Casts to long[]", :namespace "clojure.core"}