{:added "1.0", :ns "clojure.core", :name "aget", :file "clojure/core.clj", :type :fn, :src "(defn aget\n  \"Returns the value at the index/indices. Works on Java arrays of all\n  types.\"\n  {:inline (fn [a i] `(. clojure.lang.RT (aget ~a (int ~i))))\n   :inline-arities #{2}\n   :added \"1.0\"}\n  ([array idx]\n   (clojure.lang.Reflector/prepRet (.getComponentType (class array)) (. Array (get array idx))))\n  ([array idx & idxs]\n   (apply aget (aget array idx) idxs)))", :inline-arities #{2}, :column 1, :line 3591, :arglists ([array idx] [array idx & idxs]), :doc "Returns the value at the index/indices. Works on Java arrays of all\n  types."}