{:type :fn, :src "(def\n ^{:arglists '([^Class c x])\n   :doc \"Evaluates x and tests if it is an instance of the class\n    c. Returns true or false\"\n   :added \"1.0\"}\n instance? (fn instance? [^Class c x] (. c (isInstance x))))", :ns "clojure.core", :name "instance?", :arglists ([c x]), :added "1.0", :doc "Evaluates x and tests if it is an instance of the class\n    c. Returns true or false", :line 135, :file "clojure/core.clj"}