{:arglists ([& body]), :ns "clojure.test.tap", :name "with-tap-output", :src "(defmacro with-tap-output\n  \"Execute body with modified test reporting functions that produce\n  TAP output\"\n  {:added \"1.1\"}\n  [& body]\n  `(binding [t/report tap-report]\n     ~@body))", :added "1.1", :type :macro, :doc "Execute body with modified test reporting functions that produce\n  TAP output", :macro true, :line 110, :file "clojure/test/tap.clj"}