{:arglists ([replacement]), :ns "clojure.string", :name "re-quote-replacement", :src "(defn ^String re-quote-replacement\n  \"Given a replacement string that you wish to be a literal\n   replacement for a pattern match in replace or replace-first, do the\n   necessary escaping of special characters in the replacement.\"\n  {:added \"1.5\"}\n  [^CharSequence replacement]\n  (Matcher/quoteReplacement (.toString ^CharSequence replacement)))", :column 1, :added "1.5", :type :fn, :doc "Given a replacement string that you wish to be a literal\n   replacement for a pattern match in replace or replace-first, do the\n   necessary escaping of special characters in the replacement.", :line 52, :file "clojure/string.clj", :tag java.lang.String}