{:arglists ([x] [x y] [x y & more]), :ns "clojure.core", :name "min", :src "(defn min\n  \"Returns the least of the nums.\"\n  {:added \"1.0\"\n   :inline-arities >1?\n   :inline (nary-inline 'min)}\n  ([x] x)\n  ([x y] (. clojure.lang.Numbers (min x y)))\n  ([x y & more]\n   (reduce1 min (min x y) more)))", :column 1, :added "1.0", :type :fn, :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@5eeb48d>, :doc "Returns the least of the nums.", :line 1077, :file "clojure/core.clj", :inline #<core$nary_inline$fn__3969 clojure.core$nary_inline$fn__3969@308275bb>}