{:arglists ([coll]), :ns "clojure.core", :name "rest", :src "(def\n ^{:arglists '([coll])\n   :tag clojure.lang.ISeq\n   :doc \"Returns a possibly empty seq of the items after the first. Calls seq on its\n  argument.\"\n   :added \"1.0\"\n   :static true}  \n rest (fn ^:static rest [x] (. clojure.lang.RT (more x))))", :added "1.0", :static true, :type :fn, :doc "Returns a possibly empty seq of the items after the first. Calls seq on its\n  argument.", :line 66, :file "clojure/core.clj", :tag clojure.lang.ISeq}