{:arglists ([sym] [env sym]), :ns "clojure.core", :name "resolve", :src "(defn resolve\n  \"same as (ns-resolve *ns* symbol) or (ns-resolve *ns* &env symbol)\"\n  {:added \"1.0\"\n   :static true}\n  ([sym] (ns-resolve *ns* sym))\n  ([env sym] (ns-resolve *ns* env sym)))", :added "1.0", :static true, :type :fn, :doc "same as (ns-resolve *ns* symbol) or (ns-resolve *ns* &env symbol)", :line 3885, :file "clojure/core.clj"}