{:added "1.6", :ns "clojure.core", :name "unsigned-bit-shift-right", :file "clojure/core.clj", :type :fn, :src "(defn unsigned-bit-shift-right\n  \"Bitwise shift right, without sign-extension.\"\n  {:inline (fn [x n] `(. clojure.lang.Numbers (unsignedShiftRight ~x ~n)))\n   :added \"1.6\"}\n  [x n] (. clojure.lang.Numbers unsignedShiftRight x n))", :column 1, :line 1327, :arglists ([x n]), :doc "Bitwise shift right, without sign-extension."}