{:arglists ([obj]), :ns "clojure.core", :name "meta", :src "(def\n ^{:arglists '([obj])\n   :doc \"Returns the metadata of obj, returns nil if there is no metadata.\"\n   :added \"1.0\"\n   :static true}\n meta (fn ^:static meta [x]\n        (if (instance? clojure.lang.IMeta x)\n          (. ^clojure.lang.IMeta x (meta)))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns the metadata of obj, returns nil if there is no metadata.", :line 198, :file "clojure/core.clj"}