{:added "1.6", :ns "clojure.core", :name "hash-ordered-coll", :file "clojure/core.clj", :static true, :type :fn, :src "(defn hash-ordered-coll\n  \"Returns the hash code, consistent with =, for an external ordered\n   collection implementing Iterable.\n   See http://clojure.org/data_structures#hash for full algorithms.\"\n  {:added \"1.6\"\n   :static true}\n  ^long\n  [coll] (clojure.lang.Murmur3/hashOrdered coll))", :column 1, :line 4907, :arglists ([coll]), :doc "Returns the hash code, consistent with =, for an external ordered\n   collection implementing Iterable.\n   See http://clojure.org/data_structures#hash for full algorithms."}