{:dynamic true, :line 269, :column 1, :file "clojure/test.clj", :name "*testing-contexts*", :ns #object[clojure.lang.Namespace 0x4f0ee1eb "clojure.test"], :src "(def ^:dynamic *testing-contexts* (list))", :type :var, :namespace "clojure.test"}