{:type :fn, :src "(defn proxy-name\n {:tag String} \n [^Class super interfaces]\n  (let [inames (into1 (sorted-set) (map #(.getName ^Class %) interfaces))]\n    (apply str (.replace (str *ns*) \\- \\_) \".proxy\"\n      (interleave (repeat \"$\")\n        (concat\n          [(.getName super)]\n          (map #(subs % (inc (.lastIndexOf ^String % \".\"))) inames)\n          [(Integer/toHexString (hash inames))])))))", :ns "clojure.core", :name "proxy-name", :arglists ([super interfaces]), :line 34, :file "clojure/core_proxy.clj", :tag java.lang.String}