{:type :fn, :src "(def read-instant-date\n  \"To read an instant as a java.util.Date, bind *data-readers* to a map with\nthis var as the value for the 'inst key. The timezone offset will be used\nto convert into UTC.\"\n  (partial parse-timestamp (validated construct-date)))", :ns "clojure.instant", :name "read-instant-date", :file "clojure/instant.clj", :column 1, :line 271, :doc "To read an instant as a java.util.Date, bind *data-readers* to a map with\nthis var as the value for the 'inst key. The timezone offset will be used\nto convert into UTC."}