{:arglists ([name]), :line 82, :column 1, :file "clojure/test/junit.clj", :name "package-class", :ns #object[clojure.lang.Namespace 0x2f832f81 "clojure.test.junit"], :src "(defn package-class\n  [name]\n  (let [i (.lastIndexOf name \".\")]\n    (if (< i 0)\n      [nil name]\n      [(.substring name 0 i) (.substring name (+ i 1))])))", :type :fn, :namespace "clojure.test.junit"}