{:added "1.0", :ns "clojure.core", :name "construct-proxy", :file "clojure/core_proxy.clj", :type :fn, :src "(defn construct-proxy\n  \"Takes a proxy class and any arguments for its superclass ctor and\n  creates and returns an instance of the proxy.\"\n  {:added \"1.0\"}\n  [c & ctor-args]\n    (. Reflector (invokeConstructor c (to-array ctor-args))))", :column 1, :line 264, :arglists ([c & ctor-args]), :doc "Takes a proxy class and any arguments for its superclass ctor and\n  creates and returns an instance of the proxy."}