{:added "1.0", :ns "clojure.core", :name "use", :file "clojure/core.clj", :type :fn, :src "(defn use\n  \"Like 'require, but also refers to each lib's namespace using\n  clojure.core/refer. Use :use in the ns macro in preference to calling\n  this directly.\n\n  'use accepts additional options in libspecs: :exclude, :only, :rename.\n  The arguments and semantics for :exclude, :only, and :rename are the same\n  as those documented for clojure.core/refer.\"\n  {:added \"1.0\"}\n  [& args] (apply load-libs :require :use args))", :column 1, :line 5727, :arglists ([& args]), :doc "Like 'require, but also refers to each lib's namespace using\n  clojure.core/refer. Use :use in the ns macro in preference to calling\n  this directly.\n\n  'use accepts additional options in libspecs: :exclude, :only, :rename.\n  The arguments and semantics for :exclude, :only, and :rename are the same\n  as those documented for clojure.core/refer."}