{:arglists ([]), :ns "clojure.core", :name "pop-thread-bindings", :src "(defn pop-thread-bindings\n  \"Pop one set of bindings pushed with push-binding before. It is an error to\n  pop bindings without pushing before.\"\n  {:added \"1.1\"\n   :static true}\n  []\n  (clojure.lang.Var/popThreadBindings))", :added "1.1", :static true, :type :fn, :doc "Pop one set of bindings pushed with push-binding before. It is an error to\n  pop bindings without pushing before.", :line 1720, :file "clojure/core.clj"}