{:added "1.1", :ns "clojure.core", :name "boolean-array", :file "clojure/core.clj", :type :fn, :src "(defn boolean-array\n  \"Creates an array of booleans\"\n  {:inline (fn [& args] `(. clojure.lang.Numbers boolean_array ~@args))\n   :inline-arities #{1 2}\n   :added \"1.1\"}\n  ([size-or-seq] (. clojure.lang.Numbers boolean_array size-or-seq))\n  ([size init-val-or-seq] (. clojure.lang.Numbers boolean_array size init-val-or-seq)))", :column 1, :line 5057, :arglists ([size-or-seq] [size init-val-or-seq]), :doc "Creates an array of booleans"}