{:arglists ([x]), :ns "clojure.core", :name "ffirst", :src "(def\n ^{:doc \"Same as (first (first x))\"\n   :arglists '([x])\n   :added \"1.0\"\n   :static true}\n ffirst (fn ^:static ffirst [x] (first (first x))))", :added "1.0", :static true, :type :fn, :doc "Same as (first (first x))", :line 96, :file "clojure/core.clj"}