{:added "1.1", :ns "clojure.core", :name "pop!", :file "clojure/core.clj", :static true, :type :fn, :src "(defn pop!\n  \"Removes the last item from a transient vector. If\n  the collection is empty, throws an exception. Returns coll\"\n  {:added \"1.1\"\n   :static true}\n  [^clojure.lang.ITransientVector coll] \n  (.pop coll))", :column 1, :line 3283, :arglists ([coll]), :doc "Removes the last item from a transient vector. If\n  the collection is empty, throws an exception. Returns coll"}