{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "rest", :file "clojure/core.clj", :static true, :type :fn, :src "(def\n ^{:arglists '([coll])\n   :tag clojure.lang.ISeq\n   :doc \"Returns a possibly empty seq of the items after the first. Calls seq on its\n  argument.\"\n   :added \"1.0\"\n   :static true}  \n rest (fn ^:static rest [x] (. clojure.lang.RT (more x))))", :column 1, :line 66, :tag clojure.lang.ISeq, :arglists ([coll]), :doc "Returns a possibly empty seq of the items after the first. Calls seq on its\n  argument.", :namespace "clojure.core"}