{:arglists ([s]), :ns "clojure.string", :name "capitalize", :src "(defn ^String capitalize\n  \"Converts first character of the string to upper-case, all other\n  characters to lower-case.\"\n  {:added \"1.2\"}\n  [^CharSequence s]\n  (let [s (.toString s)]\n    (if (< (count s) 2)\n      (.toUpperCase s)\n      (str (.toUpperCase (subs s 0 1))\n           (.toLowerCase (subs s 1))))))", :added "1.2", :type :fn, :doc "Converts first character of the string to upper-case, all other\n  characters to lower-case.", :line 146, :file "clojure/string.clj", :tag java.lang.String}