{:added "1.1", :ns "clojure.test", :name "testing", :file "clojure/test.clj", :type :macro, :src "(defmacro testing\n  \"Adds a new string to the list of testing contexts.  May be nested,\n  but must occur inside a test function (deftest).\"\n  {:added \"1.1\"}\n  [string & body]\n  `(binding [*testing-contexts* (conj *testing-contexts* ~string)]\n     ~@body))", :column 1, :line 596, :macro true, :arglists ([string & body]), :doc "Adds a new string to the list of testing contexts.  May be nested,\n  but must occur inside a test function (deftest)."}