{:arglists ([]), :ns "clojure.core", :name "get-thread-bindings", :src "(defn get-thread-bindings\n  \"Get a map with the Var/value pairs which is currently in effect for the\n  current thread.\"\n  {:added \"1.1\"\n   :static true}\n  []\n  (clojure.lang.Var/getThreadBindings))", :column 1, :added "1.1", :static true, :type :fn, :doc "Get a map with the Var/value pairs which is currently in effect for the\n  current thread.", :line 1745, :file "clojure/core.clj"}