{:arglists ([& more]), :ns "clojure.core", :name "prn", :src "(defn prn\n  \"Same as pr followed by (newline). Observes *flush-on-newline*\"\n  {:added \"1.0\"\n   :static true}\n  [& more]\n    (apply pr more)\n    (newline)\n    (when *flush-on-newline*\n      (flush)))", :column 1, :added "1.0", :static true, :type :fn, :doc "Same as pr followed by (newline). Observes *flush-on-newline*", :line 3362, :file "clojure/core.clj"}