{:added "1.0", :ns "clojure.core", :name "zipmap", :file "clojure/core.clj", :static true, :type :fn, :src "(defn zipmap\n  \"Returns a map with the keys mapped to the corresponding vals.\"\n  {:added \"1.0\"\n   :static true}\n  [keys vals]\n    (loop [map {}\n           ks (seq keys)\n           vs (seq vals)]\n      (if (and ks vs)\n        (recur (assoc map (first ks) (first vs))\n               (next ks)\n               (next vs))\n        map)))", :column 1, :line 2962, :arglists ([keys vals]), :doc "Returns a map with the keys mapped to the corresponding vals."}