{:added "1.0", :ns "clojure.core", :name "keyword?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn keyword?\n  \"Return true if x is a Keyword\"\n  {:added \"1.0\"\n   :static true}\n  [x] (instance? clojure.lang.Keyword x))", :column 1, :line 557, :arglists ([x]), :doc "Return true if x is a Keyword"}