{:arglists ([coll]), :ns "clojure.core", :name "vec", :src "(defn vec\n  \"Creates a new vector containing the contents of coll. Java arrays\n  will be aliased and should not be modified.\"\n  {:added \"1.0\"\n   :static true}\n  ([coll]\n   (if (instance? java.util.Collection coll)\n     (clojure.lang.LazilyPersistentVector/create coll)\n     (. clojure.lang.LazilyPersistentVector (createOwning (to-array coll))))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Creates a new vector containing the contents of coll. Java arrays\n  will be aliased and should not be modified.", :line 347, :file "clojure/core.clj"}