{:line 13, :column 1, :file "clojure/core/protocols.clj", :name "CollReduce", :ns "clojure.core.protocols", :doc "Protocol for collection types that can implement reduce faster than\n  first/next recursion. Called by clojure.core/reduce. Baseline\n  implementation defined in terms of Iterable.", :src "(defprotocol CollReduce\n  \"Protocol for collection types that can implement reduce faster than\n  first/next recursion. Called by clojure.core/reduce. Baseline\n  implementation defined in terms of Iterable.\"\n  (coll-reduce [coll f] [coll f val]))", :type :var}