{:arglists ([coll] [comp coll]), :ns "clojure.core", :name "sort", :src "(defn sort\n  \"Returns a sorted sequence of the items in coll. If no comparator is\n  supplied, uses compare. comparator must\n  implement java.util.Comparator.\"\n  {:added \"1.0\"\n   :static true}\n  ([coll]\n   (sort compare coll))\n  ([^java.util.Comparator comp coll]\n   (if (seq coll)\n     (let [a (to-array coll)]\n       (. java.util.Arrays (sort a comp))\n       (seq a))\n     ())))", :added "1.0", :static true, :type :fn, :doc "Returns a sorted sequence of the items in coll. If no comparator is\n  supplied, uses compare. comparator must\n  implement java.util.Comparator.", :line 2689, :file "clojure/core.clj"}