{:arglists ([xs]), :ns "clojure.core", :name "floats", :src "(definline floats\n  \"Casts to float[]\"\n  {:added \"1.0\"}\n  [xs] `(. clojure.lang.Numbers floats ~xs))", :column 1, :added "1.0", :type :fn, :doc "Casts to float[]", :line 4812, :file "clojure/core.clj", :inline #<core$floats clojure.core$floats@5bb166dd>}