{:arglists ([op ctor]), :ns "clojure.core.reducers", :name "monoid", :src "(defn monoid\n  \"Builds a combining fn out of the supplied operator and identity\n  constructor. op must be associative and ctor called with no args\n  must return an identity value for it.\"\n  {:added \"1.5\"}\n  [op ctor]\n  (fn m\n    ([] (ctor))\n    ([a b] (op a b))))", :column 1, :added "1.5", :type :fn, :doc "Builds a combining fn out of the supplied operator and identity\n  constructor. op must be associative and ctor called with no args\n  must return an identity value for it.", :line 315, :file "clojure/core/reducers.clj"}