{:arglists ([pred] [pred coll]), :ns "clojure.core.reducers", :name "take-while", :src "(defcurried take-while\n  \"Ends the reduction of coll when (pred val) returns logical false.\"\n  {:added \"1.5\"}\n  [pred coll]\n  (reducer coll\n   (fn [f1]\n     (rfn [f1 k]\n          ([ret k v]\n             (if (pred k v)\n               (f1 ret k v)\n               (reduced ret)))))))", :column 1, :added "1.5", :type :fn, :doc "Ends the reduction of coll when (pred val) returns logical false.", :line 217, :file "clojure/core/reducers.clj"}