{:type :fn, :src nil, :ns "clojure.reflect", :protocol #'clojure.reflect/TypeReference, :doc "Returns Java name as returned by ASM getClassName, e.g. byte[], java.lang.String[]", :arglists ([o]), :name "typename"}