{:added "1.5", :ns #object[clojure.lang.Namespace 0x4528486c "clojure.core.reducers"], :name "map", :file "clojure/core/reducers.clj", :type :fn, :src "(defcurried map\n  \"Applies f to every value in the reduction of coll. Foldable.\"\n  {:added \"1.5\"}\n  [f coll]\n  (folder coll\n   (fn [f1]\n     (rfn [f1 k]\n          ([ret k v]\n             (f1 ret (f k v)))))))", :column 1, :line 161, :arglists ([f] [f coll]), :doc "Applies f to every value in the reduction of coll. Foldable.", :namespace "clojure.core.reducers"}