{:arglists ([x]), :ns "clojure.core", :name "not", :src "(defn not\n  \"Returns true if x is logical false, false otherwise.\"\n  {:tag Boolean\n   :added \"1.0\"\n   :static true}\n  [x] (if x false true))", :added "1.0", :static true, :type :fn, :doc "Returns true if x is logical false, false otherwise.", :line 481, :file "clojure/core.clj", :tag java.lang.Boolean}