{:type :fn, :src "(defn split\n  \"Splits string on a regular expression.  Optional argument limit is\n  the maximum number of splits. Not lazy. Returns vector of the splits.\"\n  {:added \"1.2\"}\n  ([^CharSequence s ^Pattern re]\n     (LazilyPersistentVector/createOwning (.split re s)))\n  ([ ^CharSequence s ^Pattern re limit]\n     (LazilyPersistentVector/createOwning (.split re s limit))))", :ns "clojure.string", :name "split", :arglists ([s re] [s re limit]), :added "1.2", :doc "Splits string on a regular expression.  Optional argument limit is\n  the maximum number of splits. Not lazy. Returns vector of the splits.", :line 169, :file "clojure/string.clj"}