{:added "1.0", :ns "clojure.core", :name "monitor-exit", :file nil, :type :special, :src ";; Special forms have no source", :column nil, :line nil, :arglists [(monitor-exit x)], :doc "Synchronization primitive that should be avoided\n  in user code. Use the 'locking' macro."}