{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "agent-errors", :file "clojure/core.clj", :type :fn, :src "(defn agent-errors\n  \"DEPRECATED: Use 'agent-error' instead.\n  Returns a sequence of the exceptions thrown during asynchronous\n  actions of the agent.\"\n  {:added \"1.0\"\n   :deprecated \"1.2\"}\n  [a]\n  (when-let [e (agent-error a)]\n    (list e)))", :column 1, :line 2228, :deprecated "1.2", :arglists ([a]), :doc "DEPRECATED: Use 'agent-error' instead.\n  Returns a sequence of the exceptions thrown during asynchronous\n  actions of the agent.", :namespace "clojure.core"}