{:added "1.0", :ns "clojure.core", :name "neg?", :file "clojure/core.clj", :type :fn, :src "(defn neg?\n  \"Returns true if num is less than zero, else false\"\n  {\n   :inline (fn [x] `(. clojure.lang.Numbers (isNeg ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers (isNeg x)))", :column 1, :line 1215, :arglists ([x]), :doc "Returns true if num is less than zero, else false"}