{:added "1.3", :ns "clojure.repl", :name "stack-element-str", :file "clojure/repl.clj", :type :fn, :src "(defn stack-element-str\n  \"Returns a (possibly unmunged) string representation of a StackTraceElement\"\n  {:added \"1.3\"}\n  [^StackTraceElement el]\n  (let [file (.getFileName el)\n        clojure-fn? (and file (or (.endsWith file \".clj\")\n                                  (.endsWith file \".cljc\")\n                                  (= file \"NO_SOURCE_FILE\")))]\n    (str (if clojure-fn?\n           (demunge (.getClassName el))\n           (str (.getClassName el) \".\" (.getMethodName el)))\n         \" (\" (.getFileName el) \":\" (.getLineNumber el) \")\")))", :column 1, :line 214, :arglists ([el]), :doc "Returns a (possibly unmunged) string representation of a StackTraceElement"}