{:added "1.1", :ns "clojure.core", :name "get-thread-bindings", :file "clojure/core.clj", :static true, :type :fn, :src "(defn get-thread-bindings\n  \"Get a map with the Var/value pairs which is currently in effect for the\n  current thread.\"\n  {:added \"1.1\"\n   :static true}\n  []\n  (clojure.lang.Var/getThreadBindings))", :column 1, :line 1825, :arglists ([]), :doc "Get a map with the Var/value pairs which is currently in effect for the\n  current thread."}