{:added "1.1", :doc "Wrap test runs in a fixture function to perform setup and\n  teardown. Using a fixture-type of :each wraps every test\n  individually, while:once wraps the whole run in a single function.", :line 657, :column 1, :file "clojure/test.clj", :name "use-fixtures", :ns "clojure.test", :src "(defmulti use-fixtures\n  \"Wrap test runs in a fixture function to perform setup and\n  teardown. Using a fixture-type of :each wraps every test\n  individually, while:once wraps the whole run in a single function.\"\n  {:added \"1.1\"}\n  (fn [fixture-type & args] fixture-type))", :type :fn}