{:type :fn, :src "(def-aset\n  ^{:doc \"Sets the value at the index/indices. Works on arrays of boolean. Returns val.\"\n    :added \"1.0\"}\n  aset-boolean setBoolean boolean)", :ns "clojure.core", :name "aset-boolean", :arglists ([array idx val] [array idx idx2 & idxv]), :added "1.0", :doc "Sets the value at the index/indices. Works on arrays of boolean. Returns val.", :line 3496, :file "clojure/core.clj"}