{:added "1.0", :ns "clojure.core", :name "read-line", :file "clojure/core.clj", :static true, :type :fn, :src "(defn read-line\n  \"Reads the next line from stream that is the current value of *in* .\"\n  {:added \"1.0\"\n   :static true}\n  []\n  (if (instance? clojure.lang.LineNumberingPushbackReader *in*)\n    (.readLine ^clojure.lang.LineNumberingPushbackReader *in*)\n    (.readLine ^java.io.BufferedReader *in*)))", :column 1, :line 3618, :arglists ([]), :doc "Reads the next line from stream that is the current value of *in* ."}