{:added "1.0", :ns "clojure.core", :name "empty", :file "clojure/core.clj", :static true, :type :fn, :src "(defn empty\n  \"Returns an empty collection of the same category as coll, or nil\"\n  {:added \"1.0\"\n   :static true}\n  [coll]\n  (when (instance? clojure.lang.IPersistentCollection coll)\n    (.empty ^clojure.lang.IPersistentCollection coll)))", :column 1, :line 4791, :arglists ([coll]), :doc "Returns an empty collection of the same category as coll, or nil"}