{:added "1.0", :ns "clojure.core", :name "bases", :file "clojure/core.clj", :static true, :type :fn, :src "(defn bases\n  \"Returns the immediate superclass and direct interfaces of c, if any\"\n  {:added \"1.0\"\n   :static true}\n  [^Class c]\n  (when c\n    (let [i (seq (.getInterfaces c))\n          s (.getSuperclass c)]\n      (if s (cons s i) i))))", :column 1, :line 5332, :arglists ([c]), :doc "Returns the immediate superclass and direct interfaces of c, if any"}