{:added "1.0", :ns "clojure.core", :name "into", :file "clojure/core.clj", :static true, :type :fn, :src "(defn into\n  \"Returns a new coll consisting of to-coll with all of the items of\n  from-coll conjoined. A transducer may be supplied.\"\n  {:added \"1.0\"\n   :static true}\n  ([to from]\n     (if (instance? clojure.lang.IEditableCollection to)\n       (with-meta (persistent! (reduce conj! (transient to) from)) (meta to))\n       (reduce conj to from)))\n  ([to xform from]\n     (if (instance? clojure.lang.IEditableCollection to)\n       (with-meta (persistent! (transduce xform conj! (transient to) from)) (meta to))\n       (transduce xform conj to from))))", :column 1, :line 6589, :arglists ([to from] [to xform from]), :doc "Returns a new coll consisting of to-coll with all of the items of\n  from-coll conjoined. A transducer may be supplied."}