{:arglists ([package-prefix url]), :ns "clojure.java.javadoc", :name "add-remote-javadoc", :src "(defn add-remote-javadoc\n  \"Adds to the list of remote Javadoc URLs.  package-prefix is the\n  beginning of the package name that has docs at this URL.\"\n  {:added \"1.2\"}\n  [package-prefix url]\n  (dosync (commute *remote-javadocs* assoc package-prefix url)))", :column 1, :added "1.2", :type :fn, :doc "Adds to the list of remote Javadoc URLs.  package-prefix is the\n  beginning of the package name that has docs at this URL.", :line 45, :file "clojure/java/javadoc.clj"}