{:arglists ([class-or-object]), :ns "clojure.java.javadoc", :name "javadoc", :src "(defn javadoc\n  \"Opens a browser window displaying the javadoc for the argument.\n  Tries *local-javadocs* first, then *remote-javadocs*.\"\n  {:added \"1.2\"}\n  [class-or-object]\n  (let [^Class c (if (instance? Class class-or-object) \n                    class-or-object \n                    (class class-or-object))]\n    (if-let [url (javadoc-url (.getName c))]\n      (browse-url url)\n      (println \"Could not find Javadoc for\" c))))", :column 1, :added "1.2", :type :fn, :doc "Opens a browser window displaying the javadoc for the argument.\n  Tries *local-javadocs* first, then *remote-javadocs*.", :line 73, :file "clojure/java/javadoc.clj"}