{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "declare", :file "clojure/core.clj", :type :macro, :src "(defmacro declare\n  \"defs the supplied var names with no bindings, useful for making forward declarations.\"\n  {:added \"1.0\"}\n  [& names] `(do ~@(map #(list 'def (vary-meta % assoc :declared true)) names)))", :column 1, :line 2768, :macro true, :arglists ([& names]), :doc "defs the supplied var names with no bindings, useful for making forward declarations.", :namespace "clojure.core"}