{:added "1.0", :ns #object[clojure.lang.Namespace 0xcc6c7c9 "clojure.repl"], :name "doc", :file "clojure/repl.clj", :type :macro, :src "(defmacro doc\n  \"Prints documentation for a var or special form given its name,\n   or for a spec if given a keyword\"\n  {:added \"1.0\"}\n  [name]\n  (if-let [special-name ('{& fn catch try finally try} name)]\n    `(#'print-doc (#'special-doc '~special-name))\n    (cond\n      (special-doc-map name) `(#'print-doc (#'special-doc '~name))\n      (keyword? name) `(#'print-doc {:spec '~name :doc '~(spec/describe name)})\n      (find-ns name) `(#'print-doc (#'namespace-doc (find-ns '~name)))\n      (resolve name) `(#'print-doc (meta (var ~name))))))", :column 1, :line 132, :macro true, :arglists ([name]), :doc "Prints documentation for a var or special form given its name,\n   or for a spec if given a keyword", :namespace "clojure.repl"}