{:added "1.0", :ns "clojure.core", :name "clear-agent-errors", :file "clojure/core.clj", :type :fn, :src "(defn clear-agent-errors\n  \"DEPRECATED: Use 'restart-agent' instead.\n  Clears any exceptions thrown during asynchronous actions of the\n  agent, allowing subsequent actions to occur.\"\n  {:added \"1.0\"\n   :deprecated \"1.2\"}\n  [^clojure.lang.Agent a] (restart-agent a (.deref a)))", :column 1, :line 2130, :deprecated "1.2", :arglists ([a]), :doc "DEPRECATED: Use 'restart-agent' instead.\n  Clears any exceptions thrown during asynchronous actions of the\n  agent, allowing subsequent actions to occur."}