{:added "1.0", :ns "clojure.core", :name "ensure", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ensure\n  \"Must be called in a transaction. Protects the ref from modification\n  by other transactions.  Returns the in-transaction-value of\n  ref. Allows for more concurrency than (ref-set ref @ref)\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.Ref ref]\n    (. ref (touch))\n    (. ref (deref)))", :column 1, :line 2351, :arglists ([ref]), :doc "Must be called in a transaction. Protects the ref from modification\n  by other transactions.  Returns the in-transaction-value of\n  ref. Allows for more concurrency than (ref-set ref @ref)"}