{:added "1.2", :ns "clojure.core", :name "thread-bound?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn thread-bound?\n  \"Returns true if all of the vars provided as arguments have thread-local bindings.\n   Implies that set!'ing the provided vars will succeed.  Returns true if no vars are provided.\"\n  {:added \"1.2\"\n   :static true}\n  [& vars]\n  (every? #(.getThreadBinding ^clojure.lang.Var %) vars))", :column 1, :line 5229, :arglists ([& vars]), :doc "Returns true if all of the vars provided as arguments have thread-local bindings.\n   Implies that set!'ing the provided vars will succeed.  Returns true if no vars are provided."}