{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "ints", :file "clojure/core.clj", :type :fn, :src "(definline ints\n  \"Casts to int[]\"\n  {:added \"1.0\"}\n  [xs] `(. clojure.lang.Numbers ints ~xs))", :column 1, :line 5313, :arglists ([xs]), :doc "Casts to int[]", :namespace "clojure.core"}