{:added "1.0", :ns "clojure.core", :name "bit-or", :file "clojure/core.clj", :type :fn, :src "(defn bit-or\n  \"Bitwise or\"\n  {:inline (nary-inline 'or)\n   :inline-arities >1?\n   :added \"1.0\"}\n  ([x y] (. clojure.lang.Numbers or x y))\n  ([x y & more]\n    (reduce1 bit-or (bit-or x y) more)))", :inline-arities #<core$_GT_1_QMARK_ clojure.core$_GT_1_QMARK_@2eb79cbe>, :column 1, :line 1261, :arglists ([x y] [x y & more]), :doc "Bitwise or"}