{:added "1.9", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "neg-int?", :file "clojure/core.clj", :type :fn, :src "(defn neg-int?\n  \"Return true if x is a negative fixed precision integer\"\n  {:added \"1.9\"}\n  [x] (and (int? x)\n           (neg? x)))", :column 1, :line 1406, :arglists ([x]), :doc "Return true if x is a negative fixed precision integer", :namespace "clojure.core"}