{:added "1.0", :ns #object[clojure.lang.Namespace 0x4ac51b14 "clojure.zip"], :name "replace", :file "clojure/zip.clj", :type :fn, :src "(defn replace\n  \"Replaces the node at this loc, without moving\"\n  {:added \"1.0\"}\n  [loc node]\n    (let [[_ path] loc]\n      (with-meta [node (assoc path :changed? true)] (meta loc))))", :column 1, :line 203, :arglists ([loc node]), :doc "Replaces the node at this loc, without moving", :namespace "clojure.zip"}