{:added "1.1", :ns "clojure.core", :name "ref-max-history", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ref-max-history\n  \"Gets the max-history of a ref, or sets it and returns the ref\"\n  {:added \"1.1\"\n   :static true}\n  ([^clojure.lang.Ref ref]\n    (.getMaxHistory ref))\n  ([^clojure.lang.Ref ref n]\n    (.setMaxHistory ref n)))", :column 1, :line 2344, :arglists ([ref] [ref n]), :doc "Gets the max-history of a ref, or sets it and returns the ref"}