{:arglists ([xs]), :ns "clojure.core", :name "shorts", :src "(definline shorts\n  \"Casts to shorts[]\"\n  {:added \"1.1\"}\n  [xs] `(. clojure.lang.Numbers shorts ~xs))", :column 1, :added "1.1", :type :fn, :doc "Casts to shorts[]", :line 4807, :file "clojure/core.clj"}