{:added "1.2", :ns "clojure.core", :name "dec", :file "clojure/core.clj", :type :fn, :src "(defn dec\n  \"Returns a number one less than num. Does not auto-promote\n  longs, will throw on overflow. See also: dec'\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (~(if *unchecked-math* 'unchecked_dec 'dec) ~x)))\n   :added \"1.2\"}\n  [x] (. clojure.lang.Numbers (dec x)))", :column 1, :line 1105, :arglists ([x]), :doc "Returns a number one less than num. Does not auto-promote\n  longs, will throw on overflow. See also: dec'"}