{:arglists ([msg form]), :ns "clojure.test", :name "try-expr", :src "(defmacro try-expr\n  \"Used by the 'is' macro to catch unexpected exceptions.\n  You don't call this.\"\n  {:added \"1.1\"}\n  [msg form]\n  `(try ~(assert-expr msg form)\n        (catch Throwable t#\n          (do-report {:type :error, :message ~msg,\n                      :expected '~form, :actual t#}))))", :column 1, :added "1.1", :type :macro, :doc "Used by the 'is' macro to catch unexpected exceptions.\n  You don't call this.", :macro true, :line 522, :file "clojure/test.clj"}