{:arglists ([] [n]), :ns "clojure.core", :name "rand", :src "(defn rand\n  \"Returns a random floating point number between 0 (inclusive) and\n  n (default 1) (exclusive).\"\n  {:added \"1.0\"\n   :static true}\n  ([] (. Math (random)))\n  ([n] (* n (rand))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Returns a random floating point number between 0 (inclusive) and\n  n (default 1) (exclusive).", :line 4441, :file "clojure/core.clj"}