{:added "1.0", :ns "clojure.core", :name "defonce", :file "clojure/core.clj", :type :macro, :src "(defmacro defonce\n  \"defs name to have the root value of the expr iff the named var has no root value,\n  else expr is unevaluated\"\n  {:added \"1.0\"}\n  [name expr]\n  `(let [v# (def ~name)]\n     (when-not (.hasRoot v#)\n       (def ~name ~expr))))", :column 1, :line 5573, :macro true, :arglists ([name expr]), :doc "defs name to have the root value of the expr iff the named var has no root value,\n  else expr is unevaluated"}