{:added "1.0", :ns "clojure.core", :name "when-not", :file "clojure/core.clj", :type :macro, :src "(defmacro when-not\n  \"Evaluates test. If logical false, evaluates body in an implicit do.\"\n  {:added \"1.0\"}\n  [test & body]\n    (list 'if test nil (cons 'do body)))", :column 1, :line 481, :macro true, :arglists ([test & body]), :doc "Evaluates test. If logical false, evaluates body in an implicit do."}