{:added "1.0", :ns "clojure.core", :name "repeatedly", :file "clojure/core.clj", :static true, :type :fn, :src "(defn repeatedly\n  \"Takes a function of no args, presumably with side effects, and\n  returns an infinite (or length n if supplied) lazy sequence of calls\n  to it\"\n  {:added \"1.0\"\n   :static true}\n  ([f] (lazy-seq (cons (f) (repeatedly f))))\n  ([n f] (take n (repeatedly f))))", :column 1, :line 4828, :arglists ([f] [n f]), :doc "Takes a function of no args, presumably with side effects, and\n  returns an infinite (or length n if supplied) lazy sequence of calls\n  to it"}