{:arglists [(set! var-symbol expr) (set! (. instance-expr instanceFieldName-symbol) expr) (set! (. Classname-symbol staticFieldName-symbol) expr)], :ns "clojure.core", :name set!, :src ";; Special forms have no source", :column nil, :type :special, :doc "Used to set thread-local-bound vars, Java object instance\nfields, and Java class static fields.", :line nil, :file nil}