{:dynamic true, :line 48, :column 1, :file "clojure/test/junit.clj", :name "*var-context*", :ns #object[clojure.lang.Namespace 0x2f832f81 "clojure.test.junit"], :src "(def ^:dynamic *var-context*)", :type :var, :namespace "clojure.test.junit"}