{:added "1.5", :ns "clojure.core.reducers", :name "foldcat", :file "clojure/core/reducers.clj", :type :fn, :src "(defn foldcat\n  \"Equivalent to (fold cat append! coll)\"\n  {:added \"1.5\"}\n  [coll]\n  (fold cat append! coll))", :column 1, :line 314, :arglists ([coll]), :doc "Equivalent to (fold cat append! coll)"}