{:arglists ([] [& keyvals]), :ns "clojure.core", :name "array-map", :src "(defn array-map\n  \"Constructs an array-map.\"\n  {:added \"1.0\"\n   :static true}\n  ([] (. clojure.lang.PersistentArrayMap EMPTY))\n  ([& keyvals] (clojure.lang.PersistentArrayMap/createWithCheck (to-array keyvals))))", :added "1.0", :static true, :type :fn, :doc "Constructs an array-map.", :line 3892, :file "clojure/core.clj"}