{:type :fn, :src "(defn get-possibly-unbound-var\n  \"Like var-get but returns nil if the var is unbound.\"\n  {:added \"1.1\"}\n  [v]\n  (try (var-get v)\n       (catch IllegalStateException e\n         nil)))", :ns "clojure.test", :name "get-possibly-unbound-var", :arglists ([v]), :added "1.1", :doc "Like var-get but returns nil if the var is unbound.", :line 400, :file "clojure/test.clj"}