{:added "1.2", :ns #object[clojure.lang.Namespace 0x6edfb42d "clojure.java.io"], :name "as-file", :type :fn, :src nil, :tag java.io.File, :arglists ([x]), :doc "Coerce argument to a file.", :namespace "clojure.java.io"}