{:added "1.0", :ns "clojure.core", :name "list?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn list?\n  \"Returns true if x implements IPersistentList\"\n  {:added \"1.0\"\n   :static true}\n  [x] (instance? clojure.lang.IPersistentList x))", :column 1, :line 5952, :arglists ([x]), :doc "Returns true if x implements IPersistentList"}