{:added "1.0", :ns "clojure.core", :name "var-get", :file "clojure/core.clj", :static true, :type :fn, :src "(defn var-get\n  \"Gets the value in the var object\"\n  {:added \"1.0\"\n   :static true}\n  [^clojure.lang.Var x] (. x (get)))", :column 1, :line 4197, :arglists ([x]), :doc "Gets the value in the var object"}