{:added "1.0", :ns "clojure.core", :name "ns-imports", :file "clojure/core.clj", :static true, :type :fn, :src "(defn ns-imports\n  \"Returns a map of the import mappings for the namespace.\"\n  {:added \"1.0\"\n   :static true}\n  [ns]\n  (filter-key val (partial instance? Class) (ns-map ns)))", :column 1, :line 4007, :arglists ([ns]), :doc "Returns a map of the import mappings for the namespace."}