{:type :fn, :src "(defn dir-fn\n  \"Returns a sorted seq of symbols naming public vars in\n  a namespace\"\n  [ns]\n  (sort (map first (ns-publics (the-ns ns)))))", :ns "clojure.repl", :name "dir-fn", :file "clojure/repl.clj", :column 1, :line 179, :arglists ([ns]), :doc "Returns a sorted seq of symbols naming public vars in\n  a namespace"}