{:added "1.0", :ns "clojure.core", :name "sorted-set", :file "clojure/core.clj", :static true, :type :fn, :src "(defn sorted-set\n  \"Returns a new sorted set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj.\"\n  {:added \"1.0\"\n   :static true}\n  ([& keys]\n   (clojure.lang.PersistentTreeSet/create keys)))", :column 1, :line 401, :arglists ([& keys]), :doc "Returns a new sorted set with supplied keys.  Any equal keys are\n  handled as if by repeated uses of conj."}