{:added "1.1", :ns "clojure.core", :name "with-bindings", :file "clojure/core.clj", :type :macro, :src "(defmacro with-bindings\n  \"Takes a map of Var/value pairs. Installs for the given Vars the associated\n  values as thread-local bindings. The executes body. Pops the installed\n  bindings after body was evaluated. Returns the value of body.\"\n  {:added \"1.1\"}\n  [binding-map & body]\n  `(with-bindings* ~binding-map (fn [] ~@body)))", :column 1, :line 1872, :macro true, :arglists ([binding-map & body]), :doc "Takes a map of Var/value pairs. Installs for the given Vars the associated\n  values as thread-local bindings. The executes body. Pops the installed\n  bindings after body was evaluated. Returns the value of body."}