{:added "1.7", :ns "clojure.core", :name "volatile!", :file "clojure/core.clj", :type :fn, :src "(defn volatile!\n  \"Creates and returns a Volatile with an initial value of val.\"\n  {:added \"1.7\"\n   :tag clojure.lang.Volatile}\n  [val]\n  (clojure.lang.Volatile. val))", :column 1, :line 2416, :tag clojure.lang.Volatile, :arglists ([val]), :doc "Creates and returns a Volatile with an initial value of val."}