{:ns #object[clojure.lang.Namespace 0x6572bcb5 "clojure.reflect"], :name "->Constructor", :file "clojure/reflect/java.clj", :type :fn, :src "(defrecord Constructor\n  [name declaring-class parameter-types exception-types flags])", :column 1, :line 109, :arglists ([name declaring-class parameter-types exception-types flags]), :doc "Positional factory function for class clojure.reflect.Constructor.", :namespace "clojure.reflect"}