{:arglists ([num div]), :ns "clojure.core", :name "quot", :src "(defn quot\n  \"quot[ient] of dividing numerator by denominator.\"\n  {:added \"1.0\"\n   :static true\n   :inline (fn [x y] `(. clojure.lang.Numbers (quotient ~x ~y)))}\n  [num div]\n    (. clojure.lang.Numbers (quotient num div)))", :column 1, :added "1.0", :static true, :type :fn, :doc "quot[ient] of dividing numerator by denominator.", :line 1213, :file "clojure/core.clj", :inline #<core$quot__inliner clojure.core$quot__inliner@332b6f2a>}