{:doc "A library for reduction and parallel folding. Alpha and subject\n      to change.  Note that fold and its derivatives require Java 7+ or\n      Java 6 + jsr166y.jar for fork/join support. See Clojure's pom.xml for the\n      dependency info.", :author "Rich Hickey"}