{:added "1.5", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "send-via", :file "clojure/core.clj", :type :fn, :src "(defn send-via\n  \"Dispatch an action to an agent. Returns the agent immediately.\n  Subsequently, in a thread supplied by executor, the state of the agent\n  will be set to the value of:\n\n  (apply action-fn state-of-agent args)\"\n  {:added \"1.5\"}\n  [executor ^clojure.lang.Agent a f & args]\n  (.dispatch a (binding [*agent* a] (binding-conveyor-fn f)) args executor))", :column 1, :line 2093, :arglists ([executor a f & args]), :doc "Dispatch an action to an agent. Returns the agent immediately.\n  Subsequently, in a thread supplied by executor, the state of the agent\n  will be set to the value of:\n\n  (apply action-fn state-of-agent args)", :namespace "clojure.core"}