{:added "1.2", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "inc", :file "clojure/core.clj", :type :fn, :src "(defn inc\n  \"Returns a number one greater than num. Does not auto-promote\n  longs, will throw on overflow. See also: inc'\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (~(if *unchecked-math* 'unchecked_inc 'inc) ~x)))\n   :added \"1.2\"}\n  [x] (. clojure.lang.Numbers (inc x)))", :column 1, :line 914, :arglists ([x]), :doc "Returns a number one greater than num. Does not auto-promote\n  longs, will throw on overflow. See also: inc'", :namespace "clojure.core"}