{:added "1.0", :ns "clojure.core", :name "interpose", :file "clojure/core.clj", :static true, :type :fn, :src "(defn interpose\n  \"Returns a lazy seq of the elements of coll separated by sep\"\n  {:added \"1.0\"\n   :static true}\n  [sep coll] (drop 1 (interleave (repeat sep) coll)))", :column 1, :line 4939, :arglists ([sep coll]), :doc "Returns a lazy seq of the elements of coll separated by sep"}