{:added "1.5", :ns "clojure.core.reducers", :name "filter", :file "clojure/core/reducers.clj", :type :fn, :src "(defcurried filter\n  \"Retains values in the reduction of coll for which (pred val)\n  returns logical true. Foldable.\"\n  {:added \"1.5\"}\n  [pred coll]\n  (folder coll\n   (fn [f1]\n     (rfn [f1 k]\n          ([ret k v]\n             (if (pred k v)\n               (f1 ret k v)\n               ret))))))", :column 1, :line 187, :arglists ([pred] [pred coll]), :doc "Retains values in the reduction of coll for which (pred val)\n  returns logical true. Foldable."}