{:type :fn, :src "(defn root-cause\n  \"Returns the last 'cause' Throwable in a chain of Throwables.\"\n  {:added \"1.1\"}\n  [tr]\n  (if-let [cause (.getCause tr)]\n    (recur cause)\n    tr))", :ns "clojure.stacktrace", :name "root-cause", :arglists ([tr]), :added "1.1", :doc "Returns the last 'cause' Throwable in a chain of Throwables.", :line 18, :file "clojure/stacktrace.clj"}