{:added "1.0", :ns "clojure.core", :name "with-meta", :file "clojure/core.clj", :static true, :type :fn, :src "(def\n ^{:arglists '([^clojure.lang.IObj obj m])\n   :doc \"Returns an object of the same type and value as obj, with\n    map m as its metadata.\"\n   :added \"1.0\"\n   :static true}\n with-meta (fn ^:static with-meta [^clojure.lang.IObj x m]\n             (. x (withMeta m))))", :column 1, :line 211, :arglists ([obj m]), :doc "Returns an object of the same type and value as obj, with\n    map m as its metadata."}