{:added "1.0", :ns "clojure.core", :name "repeat", :file "clojure/core.clj", :static true, :type :fn, :src "(defn repeat\n  \"Returns a lazy (infinite!, or length n if supplied) sequence of xs.\"\n  {:added \"1.0\"\n   :static true}\n  ([x] (lazy-seq (cons x (repeat x))))\n  ([n x] (take n (repeat x))))", :column 1, :line 2847, :arglists ([x] [n x]), :doc "Returns a lazy (infinite!, or length n if supplied) sequence of xs."}