{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "split-at", :file "clojure/core.clj", :static true, :type :fn, :src "(defn split-at\n  \"Returns a vector of [(take n coll) (drop n coll)]\"\n  {:added \"1.0\"\n   :static true}\n  [n coll]\n    [(take n coll) (drop n coll)])", :column 1, :line 2977, :arglists ([n coll]), :doc "Returns a vector of [(take n coll) (drop n coll)]", :namespace "clojure.core"}