{:type :var, :src "(defmulti \n  simple-dispatch\n  \"The pretty print dispatch function for simple data structure format.\"\n  {:added \"1.2\" :arglists '[[object]]} \n  class)", :ns "clojure.pprint", :name "simple-dispatch", :arglists [[object]], :added "1.2", :doc "The pretty print dispatch function for simple data structure format.", :line 147, :file "clojure/pprint/dispatch.clj"}