{:type :fn, :src "(defn leftmost\n  \"Returns the loc of the leftmost sibling of the node at this loc, or self\"\n  {:added \"1.0\"}\n  [loc]\n    (let [[node {l :l r :r :as path}] loc]\n      (if (and path (seq l))\n        (with-meta [(first l) (assoc path :l [] :r (concat (rest l) [node] r))] (meta loc))\n        loc)))", :ns "clojure.zip", :name "leftmost", :arglists ([loc]), :added "1.0", :doc "Returns the loc of the leftmost sibling of the node at this loc, or self", :line 174, :file "clojure/zip.clj"}