{:added "1.1", :ns #object[clojure.lang.Namespace 0x4f0ee1eb "clojure.test"], :name "file-position", :file "clojure/test.clj", :type :fn, :src "(defn file-position\n  \"Returns a vector [filename line-number] for the nth call up the\n  stack.\n\n  Deprecated in 1.2: The information needed for test reporting is\n  now on :file and :line keys in the result map.\"\n  {:added \"1.1\"\n   :deprecated \"1.2\"}\n  [n]\n  (let [^StackTraceElement s (nth (.getStackTrace (new java.lang.Throwable)) n)]\n    [(.getFileName s) (.getLineNumber s)]))", :column 1, :line 282, :deprecated "1.2", :arglists ([n]), :doc "Returns a vector [filename line-number] for the nth call up the\n  stack.\n\n  Deprecated in 1.2: The information needed for test reporting is\n  now on :file and :line keys in the result map.", :namespace "clojure.test"}