{:arglists ([kind]), :ns "clojure.pprint", :name "pprint-newline", :src "(defn pprint-newline\n  \"Print a conditional newline to a pretty printing stream. kind specifies if the \nnewline is :linear, :miser, :fill, or :mandatory. \n\nThis function is intended for use when writing custom dispatch functions.\n\nOutput is sent to *out* which must be a pretty printing writer.\"\n  {:added \"1.2\"}\n  [kind] \n  (check-enumerated-arg kind #{:linear :miser :fill :mandatory})\n  (nl *out* kind))", :column 1, :added "1.2", :type :fn, :doc "Print a conditional newline to a pretty printing stream. kind specifies if the \nnewline is :linear, :miser, :fill, or :mandatory. \n\nThis function is intended for use when writing custom dispatch functions.\n\nOutput is sent to *out* which must be a pretty printing writer.", :line 329, :file "clojure/pprint/pprint_base.clj"}