{:added "1.0", :ns "clojure.core", :name "find", :file "clojure/core.clj", :static true, :type :fn, :src "(defn find\n  \"Returns the map entry for key, or nil if key not present.\"\n  {:added \"1.0\"\n   :static true}\n  [map key] (. clojure.lang.RT (find map key)))", :column 1, :line 1463, :arglists ([map key]), :doc "Returns the map entry for key, or nil if key not present."}