{:added "1.0", :ns "clojure.core", :name "iterator-seq", :file "clojure/core.clj", :static true, :type :fn, :src "(defn iterator-seq\n  \"Returns a seq on a java.util.Iterator. Note that most collections\n  providing iterators implement Iterable and thus support seq directly.\"\n  {:added \"1.0\"\n   :static true}\n  [iter]\n  (clojure.lang.IteratorSeq/create iter))", :column 1, :line 5430, :arglists ([iter]), :doc "Returns a seq on a java.util.Iterator. Note that most collections\n  providing iterators implement Iterable and thus support seq directly."}