{:arglists ([a handler-fn]), :ns "clojure.core", :name "set-error-handler!", :src "(defn set-error-handler!\n  \"Sets the error-handler of agent a to handler-fn.  If an action\n  being run by the agent throws an exception or doesn't pass the\n  validator fn, handler-fn will be called with two arguments: the\n  agent and the exception.\"\n  {:added \"1.2\"\n   :static true}\n  [^clojure.lang.Agent a, handler-fn]\n  (.setErrorHandler a handler-fn))", :column 1, :added "1.2", :static true, :type :fn, :doc "Sets the error-handler of agent a to handler-fn.  If an action\n  being run by the agent throws an exception or doesn't pass the\n  validator fn, handler-fn will be called with two arguments: the\n  agent and the exception.", :line 2002, :file "clojure/core.clj"}