{:arglists ([re s]), :ns "clojure.core", :name "re-matcher", :src "(defn re-matcher\n  \"Returns an instance of java.util.regex.Matcher, for use, e.g. in\n  re-find.\"\n  {:tag java.util.regex.Matcher\n   :added \"1.0\"\n   :static true}\n  [^java.util.regex.Pattern re s]\n    (. re (matcher s)))", :added "1.0", :static true, :type :fn, :doc "Returns an instance of java.util.regex.Matcher, for use, e.g. in\n  re-find.", :line 4279, :file "clojure/core.clj", :tag java.util.regex.Matcher}