{:arglists ([data]), :ns "clojure.inspector", :name "inspect-tree", :src "(defn inspect-tree \n  \"creates a graphical (Swing) inspector on the supplied hierarchical data\"\n  {:added \"1.0\"}\n  [data]\n  (doto (JFrame. \"Clojure Inspector\")\n    (.add (JScrollPane. (JTree. (tree-model data))))\n    (.setSize 400 600)\n    (.setVisible true)))", :column 1, :added "1.0", :type :fn, :doc "creates a graphical (Swing) inspector on the supplied hierarchical data", :line 87, :file "clojure/inspector.clj"}