{:arglists ([name]), :ns "clojure.repl", :name "doc", :src "(defmacro doc\n  \"Prints documentation for a var or special form given its name\"\n  {:added \"1.0\"}\n  [name]\n  (if-let [special-name ('{& fn catch try finally try} name)]\n    (#'print-doc (#'special-doc special-name))\n    (cond\n      (special-doc-map name) `(#'print-doc (#'special-doc '~name))\n      (find-ns name) `(#'print-doc (#'namespace-doc (find-ns '~name)))\n      (resolve name) `(#'print-doc (meta (var ~name))))))", :column 1, :added "1.0", :type :macro, :doc "Prints documentation for a var or special form given its name", :macro true, :line 120, :file "clojure/repl.clj"}