{:added "1.0", :ns "clojure.core", :name "the-ns", :file "clojure/core.clj", :static true, :type :fn, :src "(defn the-ns\n  \"If passed a namespace, returns it. Else, when passed a symbol,\n  returns the namespace named by it, throwing an exception if not\n  found.\"\n  {:added \"1.0\"\n   :static true}\n  ^clojure.lang.Namespace [x]\n  (if (instance? clojure.lang.Namespace x)\n    x\n    (or (find-ns x) (throw (Exception. (str \"No namespace: \" x \" found\"))))))", :column 1, :line 4023, :arglists ([x]), :doc "If passed a namespace, returns it. Else, when passed a symbol,\n  returns the namespace named by it, throwing an exception if not\n  found."}