{:arglists ([n coll]), :ns "clojure.core", :name "take", :src "(defn take\n  \"Returns a lazy sequence of the first n items in coll, or all items if\n  there are fewer than n.\"\n  {:added \"1.0\"\n   :static true}\n  [n coll]\n  (lazy-seq\n   (when (pos? n) \n     (when-let [s (seq coll)]\n      (cons (first s) (take (dec n) (rest s)))))))", :added "1.0", :static true, :type :fn, :doc "Returns a lazy sequence of the first n items in coll, or all items if\n  there are fewer than n.", :line 2493, :file "clojure/core.clj"}