{:arglists ([protocol x]), :line 508, :column 1, :file "clojure/core_deftype.clj", :name "find-protocol-impl", :ns "clojure.core", :src "(defn find-protocol-impl [protocol x]\n  (if (instance? (:on-interface protocol) x)\n    x\n    (let [c (class x)\n          impl #(get (:impls protocol) %)]\n      (or (impl c)\n          (and c (or (first (remove nil? (map impl (butlast (super-chain c)))))\n                     (when-let [t (reduce1 pref (filter impl (disj (supers c) Object)))]\n                       (impl t))\n                     (impl Object)))))))", :type :fn}