{:type :fn, :src "(def read-instant-timestamp\n  \"To read an instant as a java.sql.Timestamp, bind *data-readers* to a\nmap with this var as the value for the 'inst key. Timestamp preserves\nfractional seconds with nanosecond precision. The timezone offset will\nbe used to convert into UTC.\"\n  (partial parse-timestamp (validated construct-timestamp)))", :ns "clojure.instant", :name "read-instant-timestamp", :column 1, :doc "To read an instant as a java.sql.Timestamp, bind *data-readers* to a\nmap with this var as the value for the 'inst key. Timestamp preserves\nfractional seconds with nanosecond precision. The timezone offset will\nbe used to convert into UTC.", :line 283, :file "clojure/instant.clj"}