{:type :macro, :src "(defmacro source\n  \"Prints the source code for the given symbol, if it can find it.\n  This requires that the symbol resolve to a Var defined in a\n  namespace for which the .clj is in the classpath.\n\n  Example: (source filter)\"\n  [n]\n  `(println (or (source-fn '~n) (str \"Source not found\"))))", :macro true, :ns "clojure.repl", :name "source", :arglists ([n]), :doc "Prints the source code for the given symbol, if it can find it.\n  This requires that the symbol resolve to a Var defined in a\n  namespace for which the .clj is in the classpath.\n\n  Example: (source filter)", :line 156, :file "clojure/repl.clj"}