{:arglists ([vars]), :line 77, :column 1, :file "clojure/test/junit.clj", :name "test-name", :ns #object[clojure.lang.Namespace 0x2f832f81 "clojure.test.junit"], :src "(defn test-name\n  [vars]\n  (apply str (interpose \".\"\n                        (reverse (map #(:name (meta %)) vars)))))", :type :fn, :namespace "clojure.test.junit"}