{:added "1.9", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "seqable?", :file "clojure/core.clj", :type :fn, :src "(defn seqable?\n  \"Return true if the seq function is supported for x\"\n  {:added \"1.9\"}\n  [x] (clojure.lang.RT/canSeq x))", :column 1, :line 6145, :arglists ([x]), :doc "Return true if the seq function is supported for x", :namespace "clojure.core"}