{:added "1.0", :ns "clojure.core", :name "macroexpand-1", :file "clojure/core.clj", :static true, :type :fn, :src "(defn macroexpand-1\n  \"If form represents a macro form, returns its expansion,\n  else returns form.\"\n  {:added \"1.0\"\n   :static true}\n  [form]\n    (. clojure.lang.Compiler (macroexpand1 form)))", :column 1, :line 3864, :arglists ([form]), :doc "If form represents a macro form, returns its expansion,\n  else returns form."}