{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "unchecked-inc-int", :file "clojure/core.clj", :type :fn, :src "(defn unchecked-inc-int\n  \"Returns a number one greater than x, an int.\n  Note - uses a primitive operator subject to overflow.\"\n  {:inline (fn [x] `(. clojure.lang.Numbers (unchecked_int_inc ~x)))\n   :added \"1.0\"}\n  [x] (. clojure.lang.Numbers (unchecked_int_inc x)))", :column 1, :line 1141, :arglists ([x]), :doc "Returns a number one greater than x, an int.\n  Note - uses a primitive operator subject to overflow.", :namespace "clojure.core"}