{:arglists ([e]), :ns "clojure.core", :name "enumeration-seq", :src "(defn enumeration-seq\n  \"Returns a seq on a java.util.Enumeration\"\n  {:added \"1.0\"\n   :static true}\n  [e]\n  (clojure.lang.EnumerationSeq/create e))", :added "1.0", :static true, :type :fn, :doc "Returns a seq on a java.util.Enumeration", :line 5059, :file "clojure/core.clj"}