{:arglists ([to from]), :ns "clojure.core", :name "into", :src "(defn into\n  \"Returns a new coll consisting of to-coll with all of the items of\n  from-coll conjoined.\"\n  {:added \"1.0\"\n   :static true}\n  [to from]\n  (if (instance? clojure.lang.IEditableCollection to)\n    (persistent! (reduce conj! (transient to) from))\n    (reduce conj to from)))", :added "1.0", :static true, :type :fn, :doc "Returns a new coll consisting of to-coll with all of the items of\n  from-coll conjoined.", :line 6070, :file "clojure/core.clj"}