{:arglists ([f] [f coll]), :ns "clojure.core.reducers", :name "mapcat", :src "(defcurried mapcat\n  \"Applies f to every value in the reduction of coll, concatenating the result\n  colls of (f val). Foldable.\"\n  {:added \"1.5\"}\n  [f coll]\n  (folder coll\n   (fn [f1]\n     (rfn [f1 k]\n          ([ret k v]\n             (reduce f1 ret (f k v)))))))", :column 1, :added "1.5", :type :fn, :doc "Applies f to every value in the reduction of coll, concatenating the result\n  colls of (f val). Foldable.", :line 171, :file "clojure/core/reducers.clj"}