{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "list*", :file "clojure/core.clj", :static true, :type :fn, :src "(defn list*\n  \"Creates a new seq containing the items prepended to the rest, the\n  last of which will be treated as a sequence.\"\n  {:added \"1.0\"\n   :static true}\n  ([args] (seq args))\n  ([a args] (cons a args))\n  ([a b args] (cons a (cons b args)))\n  ([a b c args] (cons a (cons b (cons c args))))\n  ([a b c d & more]\n     (cons a (cons b (cons c (cons d (spread more)))))))", :column 1, :line 640, :arglists ([args] [a args] [a b args] [a b c args] [a b c d & more]), :doc "Creates a new seq containing the items prepended to the rest, the\n  last of which will be treated as a sequence.", :namespace "clojure.core"}