{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "odd?", :file "clojure/core.clj", :static true, :type :fn, :src "(defn odd?\n  \"Returns true if n is odd, throws an exception if n is not an integer\"\n  {:added \"1.0\"\n   :static true}\n  [n] (not (even? n)))", :column 1, :line 1386, :arglists ([n]), :doc "Returns true if n is odd, throws an exception if n is not an integer", :namespace "clojure.core"}