{:added "1.2", :ns "clojure.pprint", :name "*print-miser-width*", :file "clojure/pprint/pprint_base.clj", :type :var, :src "(def ^:dynamic\n ^{:doc \"The column at which to enter miser style. Depending on the dispatch table, \nmiser style add newlines in more places to try to keep lines short allowing for further \nlevels of nesting.\",\n   :added \"1.2\"}\n *print-miser-width* 40)", :column 1, :dynamic true, :line 47, :doc "The column at which to enter miser style. Depending on the dispatch table, \nmiser style add newlines in more places to try to keep lines short allowing for further \nlevels of nesting."}