{:added "1.0", :ns #object[clojure.lang.Namespace 0x264888e7 "clojure.core"], :name "aset", :file "clojure/core.clj", :type :fn, :src "(defn aset\n  \"Sets the value at the index/indices. Works on Java arrays of\n  reference types. Returns val.\"\n  {:inline (fn [a i v] `(. clojure.lang.RT (aset ~a (int ~i) ~v)))\n   :inline-arities #{3}\n   :added \"1.0\"}\n  ([array idx val]\n   (. Array (set array idx val))\n   val)\n  ([array idx idx2 & idxv]\n   (apply aset (aget array idx) idx2 idxv)))", :column 1, :line 3889, :arglists ([array idx val] [array idx idx2 & idxv]), :doc "Sets the value at the index/indices. Works on Java arrays of\n  reference types. Returns val.", :namespace "clojure.core"}