{:arglists ([x] [x y] [x y & more]), :ns "clojure.core", :name "not=", :src "(defn not=\n  \"Same as (not (= obj1 obj2))\"\n  {:tag Boolean\n   :added \"1.0\"\n   :static true}\n  ([x] false)\n  ([x y] (not (= x y)))\n  ([x y & more]\n   (not (apply = x y more))))", :column 1, :added "1.0", :static true, :type :fn, :doc "Same as (not (= obj1 obj2))", :line 771, :file "clojure/core.clj", :tag java.lang.Boolean}