{:added "1.0", :ns "clojure.core", :name "format", :file "clojure/core.clj", :static true, :type :fn, :src "(defn format\n  \"Formats a string using java.lang.String.format, see java.util.Formatter for format\n  string syntax\"\n  {:added \"1.0\"\n   :static true}\n  ^String [fmt & args]\n  (String/format fmt (to-array args)))", :column 1, :line 5503, :arglists ([fmt & args]), :doc "Formats a string using java.lang.String.format, see java.util.Formatter for format\n  string syntax"}