{:type :fn, :src "(defn test\n  \"test [v] finds fn at key :test in var metadata and calls it,\n  presuming failure will throw exception\"\n  {:added \"1.0\"}\n  [v]\n    (let [f (:test (meta v))]\n      (if f\n        (do (f) :ok)\n        :no-test)))", :ns "clojure.core", :name "test", :arglists ([v]), :added "1.0", :doc "test [v] finds fn at key :test in var metadata and calls it,\n  presuming failure will throw exception", :line 4259, :file "clojure/core.clj"}